.os-breadcrumbs-wrapper {

	.row-fluid [class*="span"] {
	    min-height: 0;
	}

	.os-breadcrumbs {
		position: relative;
		margin-top: 50px;
		height: 45px;

		hr {
			margin-bottom: 0;
		}

		br {
			display: none;
		}

		a {

			i {
				display: none;
			}
		}

		ul {
			margin: 0;
		}

		.hs-breadcrumb-menu-divider {
			display: none;
		}

		.hs-breadcrumb-menu-item {
			padding-left: 0;
			padding-right: 20px;
		}

		.last-crumb {

			span {
				color: $font-main;

				&:hover {
					border-bottom: none;
					cursor: auto;
				}
			}
		}
	}

}

@media (max-width: 991px) {
	.os-breadcrumbs-wrapper {

		.os-breadcrumbs {

			.hs-breadcrumb-menu-item {
				padding-left: 0;
				padding-right: 20px;
			}
		}

	}
}

@media (max-width: 767px) {
	.os-breadcrumbs-wrapper {
		display: none;
	}
}