#back-to-top {
    display: block;
    text-align: center;
    color: $blue;
    background-color: $bg-light;
    text-decoration: none;
    padding: 15px 0;
}
.contact-footer-popup {
    a {
        &:before {
            content:"" !important;
        }
    }
}
footer {
    padding-top: 50px;
    background-color: $bg-dark;
    color: $font-navi;
    font-size: 12px;
    a {
        color: $font-navi;
        &:hover {
            color: $font-navi;
            text-decoration: none;
            border-bottom: 1px dotted $font-navi;
        }
    }
    .btn {
        &.btn-footer {
            min-width: 0;
            font-size: 12px;
            line-height: 16px;
            padding: 3px 15px;
            background-color: $blue;
            border-color: #fff;
            color: #fff;
            &:hover {
                background-color: #fff;
                color: $blue;
                &:before {
                    color: $blue;
                }
            }
        }
    }
    .lang-switcher {
        @media (min-width: 768px) {
            width: auto !important;
        }
        ul {
            list-style-type: none;
            // padding: 0;
            // display: flex;
            display: block;
            transform: none;
            padding: 0;
            left: 0;
            margin: 0;
            top: 0;
            position: relative;
            text-align: left;
            &:before, &:after {
                content: none;
            }
            li {
                padding: 0;
                background-color: transparent;
                border: none;
                margin: 0;
                line-height: normal;
                font-size: 12px;
                &:first-child, &:last-child {
                    padding: 0;
                }
                &:first-of-type {
                    margin-left: 0;
                }
                &:first-of-type, &:last-of-type {
                    margin: 0;
                    border: 0;
                }
                a, &.lang_switcher_link {
                    color: inherit;
                    line-height: inherit;
                    font-size: 12px;
                    &:hover {
                        color: inherit;
                    }
                    &:before {
                        content: '»';
                    }
                }
            }
        }
        .globe_class {
            background-image: none;
            width: auto;
            height: auto;
            .lang_list_class {
                display: block;
            }
        } 
    }
    &:before,
    &:after {
        clear: both;
        content: '';
    }
    &:after {
        display: table;
    }
    a {
        white-space: nowrap;
    }
    .text-right {
        font-size: 12px;
        @media (min-width: 768px) {
            width: auto !important;
            margin-bottom: 20px;
        }
    }
    .col-left {
        white-space: nowrap; // margin-right: 30px;
        // margin-bottom: 30px;
        margin: 0 30px 30px 0 !important;
        color: $font-navi;
        @media (min-width: 767px) {
            float: left;
            width: auto !important;
        }
        strong {
            color: $white;
        }
        a {
            color: $font-navi;
            &:hover {
                text-decoration: none;
                border-bottom: 1px dotted $font-navi;
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
    .img-right {
        text-align: right;
        img {
            display: inline-block;
        }
    }
    .col-right {
        font-size: 12px;
        margin-top: 0px;
        .title {
            font-size: 20px;
        }
    }
    @media (max-width: 991px) and (min-width: 768px) {
        .img-left,
        .img-right {
            width: 16.66666667% !important;
        }
        .col-left-wrap,
        .text-right {
            width: 83.33333333% !important;
        }
        .text-right {
            width: 58.33333333% !important;
        }
        .img-left,
        .col-left-wrap,
        .img-right {
            margin: 0 !important;
            padding: 0 15px;
        }
    }
    @media (max-width: 767px) {
        .container {
            padding: 0;
        }
        .img-left {
            width: 33.33333333% !important;
        }
        .col-left-wrap {
            width: 66.66666667% !important;
        }
        .img-right {
            display: none !important;
        }
        .lang-social {
            width: 100% !important;
        }
        .img-left,
        .col-left-wrap,
        .img-right,
        .text-right,
        .lang-social,
        .lang-switcher {
            margin: 0 !important;
            padding: 0 15px;
            float: left !important;
        }

        .img-left {
            float: right !important;
        }
        .text-right {
            width: 100% !important;
            margin-bottom: 30px !important;
        }

        .lang-switcher {

            .lang-switcher {
                padding-left: 0;
                margin-bottom: 30px !important;
            }
        }
    }
    @media (max-width: 1140px) and (min-width: 992px) {
        .col-img-wrap>div>div {
            display: flex;
        }
    }
}

.lang-social {
    font-size: 14px;
    margin-top: 20px !important;
    margin-bottom: 30px;
    padding-top: 20px !important;
    border-top: 1px dotted $font-main;
    .social {
        text-align: right;
        a {

            color: $blue;
            &:hover {
                color: $font-main;
                border-bottom: none;
            }
            &:before {
                display: none;
            }
            &:after{
                display: block;
                background-color:#fff;
            }
            
        }
    }
    .social-copy {
        >div>span {
            display: flex;
            align-content: center;
            @media(max-width: 500px) {
                flex-direction: column;
            }
        }
        p {
            font-size: 14px;
            line-height: 20px;
            font-size: 12px;
            line-height: 17px;
            border-bottom: 1px solid transparent;
        }
        ul {
            display: flex;
            align-content: flex-start;
            list-style-type: none;
            padding: 0;
            margin: 0 0 15px 0;
            @media (max-width: 700px) {
                flex-wrap: wrap;
            }
            li {
                margin-left: 35%;
                font-size: 14px;
                line-height: 20px;
                @media(max-width: 500px) {
                    margin-left: 20px;
                    &:first-of-type {
                        margin-left: 0;
                    }
                }
                a {
                    font-size: 14px;
                    line-height: 20px;
                    font-size: 12px;
                    line-height: 17px;
                    &:before {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}