* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row-fluid .widget-type-global_widget {
    min-height: 0; 
}

body {
    font-family: 'Avenir Next W01 Light', sans-serif;
    font-weight: normal;
    font-size: 15px;
    margin: 0; // background: $bg-dark none;
    color: $font-main;
    line-height: 1.42857143;
}

.anchor {
    display: block;
    line-height: 1px;
    height: 1px;
    margin-top: -100px;
    padding-top: 99px;
    visibility: hidden;
}

.body-container-wrapper {
    min-height: calc(100vh - 200px);
    @media (max-width: 767px) {
        min-height: calc(100vh - 480px);
    }
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

@media(min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media(min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media(min-width: 1200px) {
    .container {
        width: auto;
    }
}

.ultra {
    font-family: 'AvenirNextLTW01-UltraLi', sans-serif;
    font-weight: normal;
}

strong,
.bold {
    font-family: 'Avenir Next LT W01 Bold', sans-serif;
    font-weight: normal;
}

.video {
    text-align: center;
    .wrapper {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 */
        padding-top: 0;
        height: 0;
        margin-bottom: 35px;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .chapters {
        list-style-type: none;
        margin: 30px 0 0 12px;
        padding: 0;
        li:before {
            content: '»';
            color: $blue;
            margin-right: 0.2em;
            margin-left: -12px;
        }
        li a:before {
            content: none !important;
        }
    }
}

table.about {
    width: 100%;
    >tbody>tr>td {
        padding: 0 0 5px;
        vertical-align: top;
        &:first-child {
            width: 110px;
            color: $black;
            padding-right: 10px;
        }
    }
}

.event {
    table {
        tr td {
            padding-bottom: 10px;
        }
        &.valign-top {
            td {
                vertical-align: top;
            }
        }
        &.agenda {
            tr td:first-child {
                text-align: right;
                padding-right: 20px;
            }
        }
    }
    figure {
        &.event-visual {
            img {
                margin: 30px 0 15px !important;
            }
        }
    }
    .partnerships {
        padding: 0;
        li {
            list-style-type: none;
            display: inline-block;
            vertical-align: middle;
            max-width: 150px;
            padding: 10px 10px 0 10px;
            img {
                max-height: 72px;
            }
        }
    }
}

#back-to-top-arrow {
    display: none;
    text-align: center;
    position: fixed;
    right: 24px;
    top: 50%;
    font-size: 24px;
    i {
        display: block;
    }
    @media (max-width: 767px) {
        display: none;
    }
}

hr {
    margin-top: 0;
    margin-bottom: 30px;
    border: 0;
    border-top: 1px dotted $line-color;
    @media(min-width: 767px) {
        margin-bottom: 70px;
    }
}

.content-width {
    float: left;
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; // @media (max-width: 767px) {
    //     padding: 0;
    // }
}

@media (min-width: 992px) {
    .content-width {
        // margin: 0 auto;
        width: 83.33333333%; // float: none;
    }
}

@media (min-width: 992px) {
    .content-width {
        margin-left: 8.33333333%;
    }
}

.visible-xs {
    display: none;
    @media(max-width: 767px) {
        display: block;
    }
}


.hs-inline-edit .visible-xs {
    display: block!important;
}


.os-row {
    margin-left: -15px;
    margin-right: -15px;
}

#content {
    margin-top: 30px;
    width: auto;
    min-width: 100%;
    float: left;
    position: relative;
    z-index: 2;
}

@media(min-width: 768px) {
    #content {
        margin-top: 70px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.os {
    margin-bottom: 30px;
    @media (min-width: 768px) {
        margin-bottom: 70px;
    }
}

#fancybox-outer {
    a {
        &:before {
            content: none;
        }
        &:hover {
            border: none;
        }
    }
}

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-margin {
    margin-right: 15px;
}

#fancybox-left,
#fancybox-right {
    span {
        background-image: url('https://cdn2.hubspot.net/hubfs/3403139/fonts/fancybox_sprite.png');
        visibility: hidden;
        width: 36px;
        height: 34px;
    }
}

#fancybox-left,
#fancybox-right {
    &:hover {
        span {
            visibility: visible;
        }
    }
}

#fancybox-right span {
    right: 10px;
    background-position: 0 -72px;
}

#fancybox-left span {
    left: 10px;
    background-position: 0 -36px;
}

#fancybox-close {
    background-position: 0 0;
    top: 0;
    right: 3px;
    background-image: url('https://cdn2.hubspot.net/hubfs/3403139/fonts/fancybox_sprite.png');
}

#fancybox-wrap,
#fancybox-wrap * {
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    -safari-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.content-with-sidebar {
    margin-left: -15px;
    margin-right: -15px;
    figure {
        margin: 0;
    }
    h1 {
        margin-bottom: 15px;
    }
    h2,
    h3,
    .h2,
    .h3 {
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .main {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 70px;
        @media (min-width: 768px) {
            float:left;
            width: 66.66666667%;
        }
        img {
            display: block;
            width: 100% \9;
            max-width: 100%;
            height: auto;
            margin-bottom: 15px;
        }
        figcaption {
            text-align: left;
        }
    }
    .sidebar {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        @media (min-width: 768px) {
            margin-left:8.33333333%;
            float: left;
            width: 25%;
        }
        // @media (max-width: 767px) {
        //     display: none !important;
        // }
        img {
            display: block;
            width: 100% \9;
            max-width: 100%;
            height: auto;
            margin-bottom: 15px;
        }
        .gray {
            padding: 30px 20px;
            text-align: center;
            margin-bottom: 30px;
            background-color: #eee;
        }
        .white {
            margin-bottom: 30px;
        }
        .subtitle {
            color: #000;
            font-size: 19px;
            margin-bottom: 15px;
            line-height: 1.1;
        }
        .title {
            color: #000;
            font-size: 23px;
            font-family: 'AvenirNextLTW01-UltraLi', sans-serif;
            font-weight: normal;
            margin-bottom: 15px;
        }
    }
}

// FORM
.form-title {
    margin:0;
}
form {
    fieldset {
        max-width: 100%;
    }
    color: hubl("$main_font_color");
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 50px #fff inset !important; //Chrome yellow background remove
    }
    .input {
        margin-right: 0 !important;
    }
    .hs-input:not([type=checkbox]):not([type=radio]):not([select]) {
        width: 100% !important;
    }
    // max-width: 560px;
    ul {
        padding: 0;
        &.inputs-list {
            margin:0;
            padding: 0;
            list-style: none;
            li {
                padding-left: 0;
                &:before {
                    content: none;
                }
            }
            &.hs-error-msgs,
            &.hs-error-msgs a {
                margin-top: 0;
                li,
                li a,
                label {
                    color: #eb5c5c;
                    font-size: 12px;
                    line-height: 1.5em;
                    font-weight: 600;
                    margin-bottom: 5px;
                    &:before {
                        content: none;
                    }
                    &:hover {
                        color: #eb5c5c;
                    }
                }
            }
            &.hs-error-msgs {
                margin-top: 5px;
            }
        }
        &.multi-container {
            li {
                margin-bottom: 10px;
            }
        }
    }
    fieldset {
        max-width:100% !important;
    }
    textarea {
        border-radius: 0px;
        padding: 12px 10px;
        line-height: 1.5em;
        min-height:78px;
        font-size:12px;
        font-family: 'Avenir Next W01 Light', sans-serif;
        color: hubl("$main_font_color");
        &:focus {
            outline:0;
            border: 1px solid $blue;
        }
    }
    .hs-form-field {
        margin-bottom: 15px;
        > label {
            margin: 0;
            display: block; // overflow: hidden;
        }     
    }
     ::-webkit-input-placeholder {
        // Chrome/Opera/Safari /
        color: hubl("$main_font_color");
    }
     ::-moz-placeholder {
        // Firefox 19+ /
        color: hubl("$main_font_color");
        opacity:1;
    }
     :-ms-input-placeholder {
        // IE 10+ /
        color: hubl("$main_font_color");
    }
     :-moz-placeholder {
        // Firefox 18- /
        color: hubl("$main_font_color");
    }
    // SELECT
    .dropdown-select {
        position:relative;
        font-size: 12px;
        select {
            visibility: hidden;
            display:none;
            opacity:0;
        }
        .dropdown-header {
            position: relative;
            cursor:pointer;
            background: $white;
            padding: 10px 10px;
            border: 1px solid #949596;
            color: #949596;
            i {
                position: absolute;
                top: 0px;
                right: 7px;
            }
            &:after {
                position:absolute;
                top: 0;
                right: 40px;
                color: #000;
                content: "";
                display:block;
                background:#949596;
                width: 1px;
                height: 100%;
            }
        }
        .dropdown-list {
            position:absolute;
            width:100%;
            z-index:100;
            background: $white;
            border: 1px solid #949596;
            border-top: 0;
            margin-top: 0;
            padding: 12px 2px 1px 2px;
            list-style-type:none;
            li {
                font-size: 14px;
                color: $black;
                cursor: pointer;
                padding: 3px 8px;
                background: #f3f4f5;
                margin-bottom: 11px;
                &:hover {
                    background: $blue;
                }
            }
        }
    }
    label {position:relative;}
    input {
         border-radius: 0;
        &[type]:not([type=checkbox]):not([type=radio]):not([type=submit]) {
            border: 1px solid #949596;
            padding: 14px 10px;
            position: relative;
            outline: 0 none;
            &:focus {
                border:1px solid $blue;
            }
        }
        // CHECKBOX
        &[type=checkbox],
        &[type=radio] {                
            visibility: hidden;
            margin: 0;
            padding: 0;
            +span {
                color: $black;   
                display:inline-block;
                font-size:12px;
                margin-left: 40px;
                margin: 12px 0 12px 40px;
                &:before {
                    content:"";
                    display:block;
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    top:-2px;
                    left:1px;
                    background: #eee;
                    border: 5px solid #fff;
                }
                &:hover {
                    cursor: pointer;
                }
            }
            &:checked+span {
                &:before {
                    color: hubl("$first_color");
                }
                &:after {
                    opacity: 1;
                }
            }
        }
        &[type=checkbox] {
            +span {
                &:before {
                    outline: 1px solid #939495;
                }
                &:after {
                    opacity: 0;
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 10px;
                    background: transparent;
                    top: 3px;
                    left: 4px;
                    border: 3px solid #4dc6e1;
                    border-top: none;
                    border-right: none;
                    transform: rotate(-50deg);
                    transition: .3s opacity linear;
                }
            }
            &:checked+span {
                &:after {
                    opacity: 1;
                }
            }
        }
        //RADIO
        &[type=radio] {
            +span {             
                &:before {
                    border-radius: 50%;
                    box-shadow: 0 0 0 1px #939495;               
                }
            }
            &:checked+span {
                &:before {
                    background: #4dc6e1; 
                }
            }
        }
        //SUBMIT
        &[type=submit] {
            -webkit-appearance: none;
            outline: 0 none;
            background: $white;
            border: 2px solid $blue;
            font-size: 21px;
            color: $blue;
            cursor: pointer;
            padding: 12px 0;
            width:100%;
            margin-top: 30px;
            transition: .3s all linear;
            &:hover {
                color: $white;
                background: $blue;
            }
       }
    }
    @media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px) {
        input[type=checkbox], input[type=radio] {
            width:0 !important;
        }
    }
}

#cookie-info {
    position: fixed;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $bg-light;
    z-index: 999;
    padding: 15px 0;

    p {
        margin-bottom: 5px;
        font-size: 14px;
    }

    a {
        line-height: 1;
        font-size: 14px;
    }
}
