.os-menu-wrapper {
    width: 100%;
    background-color: #222;
    position: relative;
    z-index: 100 !important;
    &.sticky {
        position: fixed;
        top: 0;
    }
    .slicknav_menu {
        display: none;
    }
    .os-menu {
        position: relative;
        display: block;
        margin-left: 0;
    } // override default
    // .hs-menu-wrapper.hs-menu-flow-horizontal > ul li a {
    // 	padding: 0;
    // }
    // .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1 > a {
    // 	padding: 0 15px;
    // 	display: inline-block;
    // }
    // .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children {
    // 	position: static;
    // }
    // .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children > ul.hs-menu-children-wrapper {
    // }
    // .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
    // 	display: inline;
    // 	white-space: normal;
    // }
    // .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li.hs-menu-depth-2 > a {
    // 	display: block;
    // 	overflow: visible;
    // }
    // .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-2.hs-item-has-children ul.hs-menu-children-wrapper {
    // 	position: relative;
    // 	left: 0;
    // }
    // .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li.hs-item-has-children ul.hs-menu-children-wrapper {
    // 	left: 0;
    // }
    // end override default
    .widget-type-menu {
        font-size: 0;
    }
    ul {
        font-size: 12px;
    }
    a {
        border-bottom: none;
        vertical-align: middle;
    }
    .hs-menu-wrapper {
        &>ul {
            display: flex;
            height: 75px;
            align-items: center;
        }
    }
    .hs-menu-depth-1 {
        display: flex;
        align-items: center;
        height: 100%;
        &>a {
            position: relative;
            padding: 0 15px;
            color: #ccc;
            font-size: 14px;
            text-transform: uppercase;
            overflow: visible !important;
            &:before {
                display: none;
            }
            >span[data-desktop-text] {
                font-size: 0;
                &:before {
                    font-size: 14px;
                    content: attr(data-desktop-text);
                }
            }
        }
        &:hover {
            &>a {
                color: #fff;
                text-decoration: none;
                border-bottom: none;
            }
            li.hs-menu-depth-2.hs-item-has-children ul.hs-menu-children-wrapper {
                // visibility: visible;
                opacity: 1;
            }
        }
        &.active-branch {
            background-color: #fff;
            &>a {
                color: #484848;
            }
        }
        &>ul {
            top: 100%;
            width: 100%;
            display: flex; // flex-direction: column;
        }
        &>.hs-menu-children-wrapper {
            background-color: #eee;
            margin-top: -10px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .os-menu-login {
            background-image: url('//cdn2.hubspot.net/hubfs/3403139/logo/icon_LogIn_lo.png');
            background-repeat: no-repeat;
            padding-left: 25px;
            display: inline-block;
            &:hover {
                background-image: url('//cdn2.hubspot.net/hubfs/3403139/logo/icon_LogIn_hi.png');
            }
        }
    }
    .hs-menu-depth-1.hs-item-has-children {
        &>a {
            &:before {
                display: block;
                content: '';
                visibility: hidden;
                opacity: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 10px 10px 10px;
                border-color: transparent transparent #eee transparent;
                position: absolute;
                top: 37px;
                left: 50%;
                transform: translateX(-50%);
                transition: opacity 0.4s;
            }
        }
        &:hover {
            &>a {
                &:before {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    .hs-menu-depth-2 {
        padding: 20px 20px 15px;
        width: 25%;
        // border-right: 1px solid #fff;
        &:last-of-type {
            border-right: none;
        }
        &>a {
            color: #222;
            text-transform: uppercase;
            position: relative;
            &:before {
                display: none;
            }
            &:hover {
                border-bottom: none;
            }
            i {
                font-size: 32px;
                position: absolute;
                top: -50%;
                left: 0;
                transform: translateY(50%);
            }
            span {
                padding-left: 40px;
                display: block;
            }
        }
        a {
            display: inline;
            &:hover {
                color: #64C5E3;
            }
        }
        &>.hs-menu-children-wrapper {
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
    .hs-menu-depth-3 {
        position: relative;
        left: 10px;
        margin-bottom: 3px;
        &>a {
            color: #888;
            &:before {
                position: absolute;
                left: -10px;
                top: 0px;
                line-height: 15px;
            }
        }
    }
    .menu-left {
        float: left;
    }
    .menu-right {
        .hs-menu-wrapper {
            &>ul {
                justify-content: flex-end;
            }
        }
    }
}

@media (max-width: 991px) {
    .os-menu-wrapper {
        .os-menu {
            display: none;
        }
        .slicknav_menu {
            display: none;
            height: 75px;
            background-color: #222;
            padding: 0;
            align-items: center;
            position: static;
            font-size: 23px;
            &:first-of-type {
                display: flex;
            }
            a {
                outline: none;
                &:before {
                    display: none;
                }
            }
            .slicknav_brand {
                font-size: 18px;
                line-height: 1;
                padding: 0;
                height: auto;
                margin-left: 0;
                margin-right: auto;
                img {
                    max-width: 100%;
                    height: 65px;
                }
            }
            .slicknav_btn {
                margin-left: auto;
                margin-right: 0;
                &:hover {
                    border-bottom: none;
                }
            }
            .slicknav_icon-bar {
                height: 3px;
                width: 25px;
                &+.slicknav_icon-bar {
                    margin-top: 5px;
                }
            }
            .slicknav_nav {
                display: block;
                position: absolute;
                top: 100%;
                left: 0;
                background-color: #eee;
                width: 100%;
                padding: 25px 0;
                font-size: 16px;
                overflow-y: scroll !important;
                max-height: calc(100vh - 75px);
                ul {
                    font-size: 14px;
                }
                br {
                    display: none;
                }
                a {
                    color: #222;
                    text-transform: uppercase;
                    &:hover {
                        border-bottom: none;
                        background-color: transparent;
                    }
                } // 3rd level no uppercase
                &>li {
                    &>ul {
                        &>li {
                            &>ul {
                                &>li {
                                    a {
                                        text-transform: none;
                                    }
                                }
                            }
                        }
                    }
                }
                li {
                    max-width: 750px;
                    margin: auto;
                }
                .slicknav_row {
                    &:hover {
                        background-color: transparent;
                    }
                }
                .slicknav_arrow {
                    font-size: 18px;
                    vertical-align: middle;
                }
            }
        }
    }
}

// MENU REDESIGN !!!
@media (min-width: 992px) {
    .os-menu-wrapper {
        .hs-menu-depth-1 {
            >ul {
                flex-direction: column;
                width: auto;
                min-width: 290px;
            }
        }
        .hs-menu-depth-2 {
            width: auto;
            padding: 0;
            
            a {
                font-size: 13px;
            }
            &.hs-item-has-children {
                >ul {
                    background-color: #eee;
                    margin: -5px 0 0;
                    left: 100% !important;
                    border-left: 1px solid #fff;
                    padding: 15px;
                    min-width: 290px;
                    li {
                        a {
                            position: relative;
                            padding: 5px;
                            color: #222;
                            font-size: 10px;
                            text-transform: uppercase;
                            white-space: wrap;
                            overflow: visible !important;
                            &:hover {
                                border-bottom: 0px;
                                color: #64C5E3;
                            }
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .hs-menu-depth-3 {
            left: 5px;
            a {
                font-size: 13px !important;
                line-height: 17px;
                position: relative;
                // font-family: 'AvenirNextLTW01-UltraLi';
                // font-weight: bold;
                padding: 1px 5px !important;
                &:before {
                    position: absolute;
                    left: -5px;
                    top: 1px;
                    display: block !important;
                    content: '»';
                    margin-right: 0.2em;
                    font-size: 1.2em;
                }
            }
        }
        .menu-right {
            .hs-menu-depth-2 {
                width: auto;
                padding: 0;
                &.hs-item-has-children {
                    >ul {
                        right: 100% !important;
                        left: auto !important;
                        border-left-width: 0px;
                        border-right: 1px solid #fff;
                    }
                }
            }
        }
    }
}