@font-face {
    font-family: 'Avenir Next W01 Light';
    src: url('https://cdn2.hubspot.net/hubfs/3403139/fonts/Main%20Font/AvenirNextLTW01-Light.eot');
    src: url('https://cdn2.hubspot.net/hubfs/3403139/fonts/Main%20Font/AvenirNextLTW01-Light.eot?#iefix') format('embedded-opentype'), url('https://cdn2.hubspot.net/hubfs/3403139/fonts/Main%20Font/AvenirNextLTW01-Light.woff') format('woff'), url('https://cdn2.hubspot.net/hubfs/3403139/fonts/Main%20Font/AvenirNextLTW01-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT W01 Bold';
    src: url('https://cdn2.hubspot.net/hubfs/3403139/fonts/Main%20Font/AvenirNextLTW01-Bold.eot');
    src: url('https://cdn2.hubspot.net/hubfs/3403139/fonts/Main%20Font/AvenirNextLTW01-Bold.eot?#iefix') format('embedded-opentype'), url('https://cdn2.hubspot.net/hubfs/3403139/fonts/Main%20Font/AvenirNextLTW01-Bold.woff') format('woff'), url('https://cdn2.hubspot.net/hubfs/3403139/fonts/Main%20Font/AvenirNextLTW01-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextLTW01-UltraLi';
    src: url('https://cdn2.hubspot.net/hubfs/3403139/fonts/Main%20Font/AvenirNextLTW01-UltraLight.eot');
    src: url('https://cdn2.hubspot.net/hubfs/3403139/fonts/Main%20Font/AvenirNextLTW01-UltraLight.eot?#iefix') format('embedded-opentype'), url('https://cdn2.hubspot.net/hubfs/3403139/fonts/Main%20Font/AvenirNextLTW01-UltraLight.woff') format('woff'), url('https://cdn2.hubspot.net/hubfs/3403139/fonts/Main%20Font/AvenirNextLTW01-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

h1, h2, h3, h4, p {
    word-break: break-word;
    white-space: normal;
}

a, .last-crumb span {
    color: $blue;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    &:hover {
        color: $blue;
        text-decoration: none;
        border-bottom: 1px dotted $blue;
        cursor: pointer;
    }
    &:not(.no-background):before, &[name^='module']:before {
        content: '»';
        margin-right: 0.2em;
        font-size: 1.2em;
    }
    &[name^='module']:before {
        display: none;
    }
    &.no-format {
        border-bottom: none;
        &:before {
            display: none;
        }
        &:hover {
            border-bottom: none;
        }
    }
    &.button {
        color: $white;
        background: $blue;
        border-radius: 3px;
        padding: 12px 36px;
        margin-top: 14px;
        display: inline-block;
        &:before {
            display: none;
        }
        &:hover {
            background: $blue-hover;
        }
    }
    &.no-format {
        border-bottom: none;
    }
}

h1,
h2,
.h2 {
    @extend .ultra;
    font-size: 33px;
    line-height: 1.45;
    margin: 0 0 30px;
    color: $black;
}

h1 {
    font-size:40px;
}

h1.big {
    font-size: 62px;
}

h3,
.h3 {
    @extend .ultra;
    margin: 0 0 15px;
    font-size: 23px;
    line-height: 1.39;
    color: $black;
}

h4,
.h4 {
    margin: 0 0 3px;
    font-size: 17px;
    color: $black;
}

@media (max-width: 767px) {
    h1,
    h2,
    .h2 {
        font-size: 28px;
        line-height: 1.3;
    }
    h1 {
        font-size:33px;
    }
    h3,
    .h3 {
        font-size: 20px;
    }
}

em {
    color: $black;
    font-style: normal;
}

p {
    margin-top: 0;
    margin-bottom: 15px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

input {
    font-family: "Avenir Next W01 Light";
    font-size: 12px;
}

hr {
    margin-top: 0;
    margin-bottom: 30px;
    border: 0;
    border-top: 1px dotted $line-color;
    @media(min-width: 767px) {
        margin-bottom: 70px;
    }
}

.text-center {
    text-align: center;
}

.btn {
    font-family: 'Avenir Next W01 Light';
    border: 1px solid #65c5e4;
    color: #65c5e4;
    display: inline-block;
    font-size: 21px;
    line-height: 50px;
    margin: 0px;
    min-width: 375px;
    text-align: center;
    transition: 0.3s all linear;
    @media (max-width: 767px) {
        min-width: 290px;
        font-size: 18px;
    }
    &:before{
        transition: 0.3s all linear;
    }
    &:hover {
        background-color: #65c5e4;
        border-color: #65c5e4;
        color: #fff;
        &:before {
            color: #fff;
        }
    }
    &:focus{
        outline: none;
    }
}
span.h3,
span.h2,
span.h1,
span.h4{
    display:block;
}
