.about-main {
  h1, h2 {
    //margin: 50px auto;
  }

  .header-and-text {
    padding: 0px 15px 40px 15px;
		h1 {
			font-family: "Avenir Next LT W01 Bold", sans-serif;
			margin: 10px 0;
            text-align:center;
		}
		p {
			text-align: center;
			font-size: em(33);
			font-family: 'AvenirNextLTW01-UltraLi', sans-serif;
		}
  }

  // SELECTED BLOG POSTS
  .two-col-box {
    >div >div {
      display:flex;
      flex-wrap:wrap;
      &:before, 
      &:after {
        display: inline;
      }
      div {
        background-color: #f3f4f5;
      }
    }
  }
  .about-blog-post {
    margin-bottom: 20px;
    background-color: #f3f4f5;
    .thumb {
      width: 100%;
      padding-bottom: 60%;
      background-size: cover;
      background-position: center center;
    }
    .thumb-wide {
      padding-bottom: 40%;
    }
    .content {
      padding: 22px;
      .topic {
      text-transform: uppercase;
      font-size:14px;
      }
      h3 {
        min-height:99px;
        font-family: "Avenir Next W01 Light";
        font-size: 28px;
        line-height: 1.214;
        margin: 20px 0 30px 0;
        &.header-wide {
          min-height: 0;
        }
      }
      p {
        font-family: "Avenir Next W01 Light";
        font-size: 16px;
        color: #000;
      }
      .read-more {
        text-align: right;
        a {
        transition: .3s all linear; 
        display: inline-block;
        padding: 3px 11px;
        background-color: $white;
        border:1px solid $blue;      
        &:hover {
          background-color: #65c5e4;
          border-color: #65c5e4;
          color: #fff;
        }
        }
      }
    }
  }
  // BUTTON
  .small-wrapper {
    max-width: 775px;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    .btn-about-main {
      width: 100%;
      min-width: 270px;
      margin: 30px 0 75px 0;
    }
    hr {
      margin-bottom: 50px;
      &.separator {
        margin-bottom: 0;
      }
    }
  }
  
  // LATEST BLOG POSTS
  .latest-post-wrapper {
    margin-left: 12px;
    .latest-blog-post {
      padding-left: 13px;
      border-left: 1px dotted #a7a8a9;
      .content {
        margin-bottom:44px;
        time {
        color: #949596;
        font-size:12px;
        padding-left: 1px;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        }
        h3 {
          font-family: "Avenir Next W01 Light";
          line-height: 1.214;
          margin: 5px 0 12px 0;
        }
        p {
          font-family: "Avenir Next W01 Light";
          font-size: 14px;
          color: #888;
          margin-bottom: 10px;
          line-height: 18px;
        }
      }   
    }
  }
  
  //TEAM MEMBERS
  .team-members {
    .gallery-header {
        text-align: center;
        h2 {
          margin: 70px 0 10px 0;
        }
    }
    .gallery-switch {
      list-style-type:none;
      display:block;
      margin-bottom:60px;
      padding:0;
      text-align: center;
      li {
        display:inline-block;
        a {
          margin: 0 15px;
        }
        &:before {
          content: "|";
        }
        &:first-child {
          &:before {
            content: "";
          }
        }
      }
    }
    .tab {
      display:none;
    }
    #tab1 {
      display:block;
    }
    hr {
      &:before {
        display:table;
        content:"";
        clear:both;
      }
    }
  }


  //TEAM MEMBER
  .team-member-wrapper {
    span {
      display:flex;
      justify-content: space-between;
      flex-wrap: wrap;
      &:after {
        height: 0;
        width: 32.1%;
        content: "";
      }
      > div {
        width: 32.1%;
      }
    }

    .team-member {
      margin-bottom: 50px;
      .thumb {
        width: 100%;
        padding-bottom:100%;
        background-size: cover;
        background-position: center center;
      }
      h3 {
        margin: 20px 0 5px 0;
      }
      p {
        margin-bottom: 5px;
      }
    }
  }
}
// IMAGE AND TEXT
.imagetext {
  > div {
    > div {
      margin-bottom:50px;
    }
  }
}








// MEDIA QUERIES
@media (min-width: 768px) and (max-width: 1200px) {
    .about-main {
      .two-col-box > div > div {
        display: flex;
        flex-wrap: wrap;
        div {
          margin-bottom:20px;
          margin-left:0;
          width: 100%;
        }
      }
      .thumb, .thumb-wide {
        padding-bottom: 60%;
        }
    }
}
  @media (max-width: 767px) {
  .about-main {
    .two-col-box >div >div {
      div {
        margin-bottom: 20px;
      }
    }
    .about-blog-post {
      .content {
        width: 85%;
        margin: 0 auto;
      }
    }
    .latest-blog-post {
      width: 85%;
      margin: 0 auto;
    }
     .team-member-wrapper {
        span {
          justify-content: center;
          > div {
            width: 85%;
          }
        }
      }
    .small-wrapper {
      width: 85%;
    }
  }
}