.about-events {
    .events-big-box-wrapper {
        margin-bottom: 50px;
        span {
            display: flex;
            margin-left: -15px;
            margin-right: -15px;
            @media (max-width: 767px) {
                flex-direction: column;
            }
            & > div {
                width: 50%;
                @media (max-width: 767px) {
                    width: 100%;
                    &:first-child {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
    .simple-single-event-wrapper {
        margin-bottom: 70px;
    }
    .events-medium-box-wrapper {
        margin-bottom: 70px;
        span {
            display: flex;
            margin-left: -15px;
            margin-right: -15px;
            flex-wrap: wrap;
            & > div {
                width: 33%;
                margin-bottom: 30px;
                @media (max-width: 767px) {
                    width: 100%;
                    &:first-child {
                        margin-bottom: 30px;
                    }
                }
                h3 {
                    font-size: 19px;
                    line-height: 24px;
                    margin: 3px 0px 12px 0px;
                }
                .content{
                    height: 100%;
                    .description{
                        min-height: 170px;
                    }
                }
            }
        }
    }
}
