.about-gallery {
    .video {
        .wrapper {
            margin-bottom: 0;
        }
    }
    .page-title {
        h1,
        h2 {
            
            @media (max-width: 767px) {
                padding: 0 15px;
            }
        }
    }
    .two-columns {
        @media (max-width: 767px) {
            margin-left: -15px;
            margin-right: -15px;
        }
    }
    .video-wrap {
        >span {
            display: flex;
            >div {
                width: 50%;
                position: relative;
                min-height: 1px;
                padding-left: 15px;
                padding-right: 15px;
                @media (min-width: 768px) {
                    &:nth-child(even) {
                        padding-left: 15px;
                        padding-right: 0;
                    }
                    &:nth-child(odd) {
                        padding-right: 15px;
                        padding-left: 0;
                    }
                }
                @media (max-width: 767px) {
                    +div {
                        margin-top: 30px;
                    }
                }
            }
            @media (max-width: 767px) {
                flex-wrap: wrap;
                >div {
                    width: 100%;
                }
            }
        }
    }
    .os.gallery {
        margin-left: -15px;
        margin-right: -15px;
        h2 {
            padding: 0 15px;
        }
        .fancybox-gallery {
            >span {
                // display: flex;
                // flex-wrap: wrap;
                >div {
                    position: relative;
                    min-height: 1px;
                    padding-left: 15px;
                    padding-right: 15px;
                    margin-bottom: 30px;
                    @media (min-width: 767px) {
                        float: left;
                        width: 33.333333%;
                    }
                }
            }
        }
    }
}