.career {
    .header.text-center {
        &.os {
            margin-bottom: 60px;
        }
        p {
            text-align: left;
        }
    }
    .offer-wrapper {
        & > span {
            display: flex;
            flex-wrap: wrap;
            
            & > div {
                width: 100%;
                @media (min-width: 768px) {
                    width: 50%;
                }
            }
        }
        .single-career-offer {
            min-height: 1px;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 30px;
            @media (min-width: 768px) {
                margin-bottom: 70px;
            }
            p {
                margin: 0 0 15px;
            }
        }
    }
}
@media screen and (max-width: 767px) {
#content{
    float:none;
}
}