body.career-main{

	 #content-bg{
		margin-top:580px!important;
	}

.header-and-text {
    padding: 0px 15px 40px 15px;
		h1 {
			font-family: "Avenir Next LT W01 Bold", sans-serif;
			margin: 10px 0;
            text-align:center;
		}
		p {
			text-align: center;
			font-size: em(33);
			font-family: 'AvenirNextLTW01-UltraLi', sans-serif;
		}
  }

	.os-menu-wrapper{
		top:580px;
	}
	#hs_menu_wrapper_module_1500283626383185 ul{
		list-style:none!important;
	}
	.hs_cos_wrapper_type_rich_text ul{
		list-style:disc!important;
	}

	@media(max-width:1407px) and (min-width: 1251px){
	.os-menu-wrapper{
		top:510px;
	}
	 #content-bg{
		margin-top:510px!important;
	}
		
	}
	@media(max-width:1250px) and (min-width: 1076px){
	.os-menu-wrapper{
		top:435px;
	}
	 #content-bg{
		margin-top:435px!important;
	}
}
	@media(max-width:1075px) and (min-width: 993px){
	.os-menu-wrapper{
		top:360px;
	}
		#content-bg{
		margin-top:360px!important;
	}
		
	}
	@media(max-width:992px){
		#content-bg{
		margin-top:70px!important;
	}
		.span12.widget-span.widget-type-custom_widget{
			min-height:0px;
		}
	.os-menu-wrapper{
		top:0px;
		position:fixed;
	}
}
	.os-menu-wrapper.sticky{
		top:0px;
	}
	-webkit-font-smoothing: subpixel-antialiased;
	overflow-x:hidden;
	
	margin:0px;
	a:hover{
		    	text-decoration: none;
    	border-bottom: 1px dotted #CCC;
  	
	}
	a.no-format:hover {
		    border-bottom: 1px solid transparent;

		}
	.bodys {
  		background-color: #fff;
  	}
	
	h1{
		text-align:center;
		margin-bottom:0px;
	}
	.os.call-to-action{

		a{
			display: block;
    		color: #64c5e3;
    		background-color: #e1f4fa;
    		padding: 50px 14px;
    		border-radius: 12px;
    		text-align:center

		}
		a:hover{
			background: #64c5e3;
    		color: #fff;
		}
		a:before{
			content:"";
			display:none;
		}
		.big{
		    font-family: 'AvenirNextLTW01-UltraLi',sans-serif;
		    font-weight: normal;
		    font-size: 41px;
		    display: block;
		    margin-bottom: 15px;
		}
		.col{
			position: relative;
    		float: left;
    		width: 100%;
    		min-height: 1px;
    		padding-left: 15px;
    		padding-right: 15px;
    		margin-bottom:70px;

		}


	}
	.no-background{
		
		.big{

				text-align: center;
				font-family: 'AvenirNextLTW01-UltraLi',sans-serif;
		    	font-weight: normal;
		    	font-size: 41px;
		    	display: block;
		    	margin-bottom: 50px;
		    	margin-top:50px;
			}

	}

	@media (max-width: 767px){
		.hidden-xs {
    		display: none !important;
		}
	}

	.cols{

		@media (min-width: 768px){
		
			.content-width{

    			margin-bottom: 70px;
				
			}

		}

		.col{

			img{

    			max-width: 100%;
			    height: auto;
			    display: block;
			    margin-bottom: 30px;
    		}
		}
	}
	.container.clearfix{

			hr{
				border-top:none;
			}
	
	}
	.header {

		margin-bottom:30px;
		
		p{
			text-align:left;
			margin-bottom:15px;
		}

	}
	.imagetext{


		.content-width{

			margin-bottom:50px;

		}
	}
	.col{
		margin-bottom:20px;
	}

	.slick-slide{
		
		
					text-align:center;
					


					img{

						display:inline;
					}

					li{

						background: #ccc;
					    text-indent: -9999px;
					    display: block;
					    width: 10px;
					    height: 10px;
					    margin: 0px;
					    outline: 0;
					    -moz-border-radius: 5px;
					    -webkit-border-radius: 5px;
					    border-radius: 5px;


						}
				}
	.slick-dots li.slick-active button:before{

		    opacity: 1;
    		color: transparent;
    		 background: #909090;
	}
	.slick-dots li button:before{
		background-color:#ccc;
		height:10px;
		width:10px;
		color:transparent;
		opacity:1;
	}
	.slick-dots li{
		padding-left: 20px;
		margin:0px;
	}
	.slick-dots{
		bottom:-40px;
	}
	.slick-dotted.slick-slider{

		margin-bottom:70px;
	}
	.slick-dots li button:hover:before, .slick-dots li button:focus:before{

		background-color:#909090;
	}

	a{
		
    	border-bottom: 1px solid transparent;
	}
	// footer{

	// 	 .col-left a{
	// 		color:#CCC;
	// 	}
	// 	.col-left a:hover{
	// 		text-decoration: none;
 //    		border-bottom: 1px dotted #ccc;
	// 	}

	// }
	.slider{
		text-align:center;
		margin-bottom:70px;
	}

	
    
    .picture{

	    	@media (min-width: 768px){
			
			 .image {
				    width: 33.33333333%;
			}

			 .text {

			    margin-left:0px;
			}
    }

}


}


@media (min-width: 1455px) and (min-width: 992px){

		body.has-header-image {
   			 background-size: 100% auto;
		}

}
@media (min-width: 992px){
		body.has-header-image {
		    background-position: top center;
		    background-repeat: no-repeat;
		    background-attachment: fixed;
		    background-size: 100%;
		}
}
@media (min-width: 768px) and (min-width: 992px)
{
	#logo {
    float: left;
    width: 100%;
}
}
@media (min-width: 992px){
#logo {
    position: fixed;
    display: block;
    margin-top: 30px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
	}
}
#header-bg, #header-slider {
    display: none;
}
@media (min-width: 992px){
	#header-bg {
	    display: block;
	    position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    z-index: 1;
}
@media (min-width: 992px){
	body.has-header-image{

	background-image: url("https://cdn2.hubspot.net/hubfs/3403139/images/career/bg_career.jpg");

}
		body.has-header-image #content-bg {
	    position: relative;
	    
	    background-color: #fff;
	    z-index: 2;
	}
}


#content-bg {
    background-color: #fff;
}
#content-bg{

	.span12.widget-span.widget-type-cell {
		background-color:white;
	}

}


}
