.error-page {
     .header-image {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 350px;
        background-color: #EEE;
        background-size: cover;
        background-position: center center;
        h1 {          
            color: $black;
            font-family: 'Avenir Next LT W01 Bold', sans-serif;
            &.header-white {
                color: $white;
            }
        }
    }
    .error-wrapper {
        padding-bottom: 100px;
        .error-message {
            text-align: center;
            p {
                max-width: 880px;
                padding: 0px 50px;
                margin: 40px auto 70px auto;
                font-size: 16px;
                color: $black;
                line-height: 22px;
            }
        }
        .error-buttons {
            display:flex;
            justify-content: center;
            flex-wrap: wrap;
            .btn {
                border: solid 2px $blue;
                margin: 5px 12px;

            }
        }
    }
}

@media (max-width: 768px) {
    .error-page {
        .error-wrapper {
            .error-message {
                margin: 0 auto;
                width: 85%;
            }
        }
    }
}

