/*btn section*/

@media (max-width: 1200px) {
	.btn-section>div>span {
		flex-direction: column;
		align-items: center;
	}
	.btn-section .btn {
		margin: 5px 0!important;
	}
}

@media (max-width: 768px) {
	.btn-section {
		text-align: center;
	}
	.btn-section .btn {
		min-width: 290px;
		font-size: 18px!important;
		margin:5px 0 !important;
	}
}

@media (max-width: 992px) {
	.btn-section .btn {
		margin: 5px 0!important;
	}
}

.latest-posts-wrapper>span>div {
	background: #f3f4f5;
	width: 33%;
	margin-right: 20px;
	position: relative;
}

.latest-posts-wrapper .custom-blog-post .read-more {
	position: absolute;
	bottom: 15px;
	right: 15px;
	margin-top: 15px;
}

.latest-posts-wrapper .custom-blog-post .thumb {
	width: 100%;
}

.custom-blog-post {
	margin: 0 0 20px 0;
	background: none;
}

@media (max-width: 767px) {
	.latest-posts-wrapper>span>div {
		width: 85%;
		margin: 0;
		margin-bottom: 30px;
	}
	.custom-blog-post {
		max-width: 100%;
	}
	.custom-blog-post .content p {
		margin-bottom: 40px;
	}
	.service .content {
		text-align: right;
	}
	.service {
		justify-content: space-between;
		max-width: 250px;
	}
}

.home .header-container-wrapper .header-container>div>div>div {
	min-height: 0px;
}

///////////////// 
.home {
	.btn-section {
		>div {
			>span {
				display: flex;
				justify-content: space-around;
			}
		}
	}
}

@media (max-width: 1200px) {
	.home {
		.btn-section {
			>div {
				>span {
					flex-direction: column;
				}
			}
		}
	}
}