.home {
    .slick-slider {
        margin-bottom: 0;
    }
    .slide-content-wrapper {}
    .page-title {
        text-align: center;
    }
    .cta-box-v2-wrapper > span {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 15px;
        & > div {
            width: 100%;
        }
    }
    .image-box-wrapper > span {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 70px;
        margin-top: 35px;
        &> div {
            width: 32.1%;
            @media (max-width: 767px) {
                width: 85%;
                margin: 0 auto;
            }
        }
    }
    .subscribe-and-social {
        h2 {
            text-align: center;
        }
    }
    .latest-posts {
        h2 {
            text-align: center;
            margin-bottom: 50px;
        }
    }
    .services {
        & > span {
            display: flex;
            flex-wrap: wrap;
            & > div {
                width: 20%;
                @media (max-width: 767px) {
                    width: 100%;
                }
            }
        }
    }
    .events-wrapper >span {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        & > div {
            width: 33.33%;
            @media (max-width: 767px) {
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }
    .all-events-link {
        text-align: right;
        padding-right: 15px;
    }
    .bullets {
        text-align: center;
        ul {
            list-style: none;
            padding-left: 0px;
            margin: 45px 0px 35px 0px;
            li {
                display: inline-block;
                padding-left: 15px;
                padding-top: 3px;
                &:first-child {
                    padding-left: 0px;
                }
            }
        }
    }
    .info-box-wrapper > span {
        display: flex;
        flex-wrap: wrap;
        & > div {
            width: 33.33%;
            @media (max-width: 767px) {
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }
    .small-wrapper {
        max-width: 775px;
        width: 100%;
        margin: 0 auto;
        padding: 0px;
        .btn-wrapper > span {
            display: flex;
            justify-content: space-between;
            margin-bottom: 63px;
            @media (max-width: 992px) {
                align-items: center;
                flex-direction: column;
                .btn {
                    margin: 10px 0px;
                }
            }
            h2 {
                padding: 0 15px;
            }
        }
        // MODAL
        .form-popup-wrapper {
            display: none;
            position: fixed;
            z-index: 10001;
            background: rgba( 0, 0, 0, 0.9);
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            .form-wrapper {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 600px;
                background-color: #fff;
                box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
                border-radius: 6px;
                max-height: 90%;
                min-height: 60%; 
                height: auto;
                overflow: auto;
                @media (max-width: 767px) {
                    width: 90%;
                }
                .form-inner {
                    width: 100%;
                    height: 100%;
                    padding: 60px 40px;
                    h3 {
                        text-align: center;
                        font-size: 28px;
                        margin-bottom: 35px;
                    }
                    .hs_cos_wrapper_type_form{
                        a{
                            &:before{
                                display: none;
                            }
                        }
                    }
                    form {
                        font-family: 'Avenir Next W01 Light';
                        ::-webkit-input-placeholder {
                            /* Chrome/Opera/Safari */
                            color: #a3a3a3;
                            font-family: 'Avenir Next W01 Light';
                        }
                        ::-moz-placeholder {
                            /* Firefox 19+ */
                            color: #a3a3a3;
                            font-family: 'Avenir Next W01 Light';
                        }
                        :-ms-input-placeholder {
                            /* IE 10+ */
                            color: #a3a3a3;
                            font-family: 'Avenir Next W01 Light';
                        }
                        :-moz-placeholder {
                            /* Firefox 18- */
                            color: #a3a3a3;
                            font-family: 'Avenir Next W01 Light';
                        }
                        & > div {
                            margin-bottom: 25px;
                            label {
                                font-size: 18px;
                                font-weight: bold;
                                color: #373737;
                                line-height: 2;
                            }
                            legend {
                                font-size: 15px;
                                font-weight: normal;
                                font-style: italic;
                                color: #737373;
                                line-height: 2;
                            }
                            .input {}
                        }
                        input {
                            &:not([type=radio]):not([type=checkbox]) {
                                appearance: none;
                            }
                            &:not([type=submit]):not([type=radio]):not([type=checkbox]):not([type=file]) {
                                color: #262626;
                                padding: 12px 13px;
                                width: 100%;
                                height: 45px;
                                border: 1px solid #a3a3a3;
                                font-size: 15px;
                                &:focus {
                                    border: 1px solid #65c5e4;
                                }
                            }
                            &:focus {
                                outline: 0;
                            }
                        }
                        .hs_submit {
                            margin-bottom: 0px;
                            input[type=submit] {
                                cursor: pointer;
                                text-decoration: none;
                                appearance: none;
                                background-color: #65c5e4;
                                border: 1px solid #65c5e4;
                                width: 100%;
                                height: 46px;
                                border-radius: 0px;
                                margin: 0 auto;
                                line-height: normal;
                                transition: 0.3s all linear;
                                display: block;
                                color: #fff;
                                font-size: 18px;
                                font-family: 'Avenir Next W01 Light';
                                &:hover{
                                    background-color: #fff;
                                    color: #65c5e4;
                                }
                            }
                        }
                        ul.hs-error-msgs {
                            padding-left: 0px;
                            margin: 0px;
                            list-style: none;
                            font-size: 14px;
                            li {
                                margin-top: 5px;
                                label {
                                    color: #e34f4f;
                                    font-size: 14px;
                                    a {
                                        color: #e34f4f;
                                        font-size: 14px;
                                        &:before{
                                            display: none;
                                        }
                                        &:hover{
                                            border-color: #e34f4f;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .form-exit {
                    position: absolute;
                    cursor: pointer;
                    height: auto;
                    width: auto;
                    left: auto;
                    right: 0px;
                    bottom: auto;
                    top: 0px;
                    padding: 8px;
                    color: #ffffff;
                    font-size: 12px;
                    line-height: 14px;
                    border: 1px none #ffffff;
                    
                    background-color: #65c5e4;
                }
            }
        }
    }
}
