.landing-page {
    h3 {
        font-family: 'Avenir Next LT W01', sans-serif!important;
        font-weight: 300;
    }
    .header-image {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 350px;
        background-size: cover;
        background-position: center center;
        h1 {          
            color: $white;
            font-family: 'Avenir Next LT W01', sans-serif!important;
        }
    }
    
    .landing-wrapper {
        margin-bottom: 80px;
        .text-box {
            p {
                font-size: 16px;
                color: #000;
            }
            ul {
                font-size: 16px;
                padding-left: 1.2em;
                color:#000;
            }
            h3 {
                margin-top:30px;
            }
            .icon-wrapper {
                color: $blue;
                a {
                    &::before {
                        display: none;
                    }
                    &:hover {
                        border-bottom: none;
                    }
                }
            }
        }
        .form-box {
            padding: 40px;
            background-color: #f3f4f5;        
            h3 {
                margin-bottom:15px;
            }  
        }
    }
    @media (max-width: 767px) {
        .landing-wrapper{
            .text-box {
                padding: 40px;
            }
        }
    }
        
}



