.stories-360-magazine {
    .magazine-wrap {
        >span {
            display: flex;
            flex-wrap: wrap;
            >div {
                width: 100%;
                min-height: 1px;
                padding-left: 15px;
                padding-right: 15px;
                margin-bottom: 70px;
                @media (min-width: 768px) {
                    width: 33.33333%;
                }
            }
        }
    }
    .three-columns {
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 0;
        .os {
            margin-bottom: 0;
        }
        h1 {
            padding: 0 15px;
        }
        img {
            width: 100% \9;
            max-width: 100%;
            height: auto;
            display: block;
            // margin-bottom: 30px;
        }
    }
}