.open-position {
    .body-container-wrapper {
        
        min-height: calc(100vh - 480px);
    }
    .content-with-sidebar {
        .main {
            position: relative;
            min-height: 1px;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 70px;
            // BAMBOO HR
            #BambooHR {
                .BambooHR-ATS-Jobs-Item {
                    a {
                        @media (max-width: 480px) {
                            font-size: 14\px;
                            display: block;
                        }
                    }
                }
                .BambooHR-ATS-board .BambooHR-ATS-Location {
                    display: block;
                    @media (max-width: 480px) {
                        float: none;
                        padding-top: 0px;
                    }
                }
                #BambooHR-Footer {
                    a {
                        &:before {
                            display: none;
                        }
                        img {
                            margin-bottom: 2px;
                        }
                    }
                }
            }
            // END BAMBOO HR
        }
        .content-with-sidebar>.sidebar {
            position: relative;
            min-height: 1px;
            padding-left: 15px;
            padding-right: 15px;
        }
        .cta-box {
            float: right;
            @media (max-width: 767px) {
                float: none;
            }
            a {
                max-width: 213px;
            }
        }
    }
}
