.os-cert {
    .header-top {
        text-align: center;
        .big {
            h2 {
                margin-bottom: 0;
                font-size: 62px;
            }
        }
    }
    .three-columns {
        >span {
            display: flex;
            flex-wrap: wrap;
            >div {
                position: relative;
                min-height: 1px;
                padding-left: 15px;
                padding-right: 15px;
            }
            @media (min-width: 767px) {
                flex-wrap: nowrap;
                >div {
                    width: 33.33333333%;
                }
            }
        }
        img {
            margin-bottom: 30px;
        }
    }
}