.portrait {
    .text {
        padding-right:80px;
        @media (max-width: 767px) {
            padding-right: 0;
        }
    }
    .image {
        @media (max-width: 767px) {
            margin:30px 0;
        }
    }
    h4 {
        margin: 20px 0 10px 0;
        text-align: center;
    }
    .social-icon-wrapper {
        > span {
            display:flex;
            justify-content: center;
            .social-icon {
                margin: 0 2px;
                i {
                    font-size: 40px;
                }
                &:before {
                    content:"";
                }
                &:hover {
                    border-bottom:none;
                }
            }
        }
    }
    @media (max-width:767px) {
        h4 {
            margin-top:0px;
            text-align: left;
        }
        .social-icon-wrapper {
        > span {
            margin-bottom: 20px;
            justify-content: flex-start;
            padding-left:0px;
            .social-icon {
                i {
                    font-size: 50px;
                }
            }
        }
    }
    }
}