.services, .solutions {
    .solutions-header {
        margin-top:70px;
    }
    a {
        &.cta_button {
            vertical-align: top;
        }
        
    }

    .btn-section {
        > div {
            > span {
                display:flex;
                justify-content: center;
                flex-wrap: wrap;
                 > span {
                     margin:0 5px;
                 }
            }
        }
    }


.header-and-text {
    padding: 0px 15px 40px 15px;
		h1 {
			font-family: "Avenir Next LT W01 Bold", sans-serif;
			margin: 10px 0;
            text-align:center;
		}
		p {
			text-align: center;
			font-size: em(33);
			font-family: 'AvenirNextLTW01-UltraLi', sans-serif;
		}
  }
    .os.categories {
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            list-style: none;
            padding: 0;
            li {
                @media (max-width: 767px) {
                    display: list-item !important;
                    width: auto !important;
                    // float: left !important;
                }
                a {
                    color: #000;
                    padding: 0;
                    padding: 3px 15px;
                    border-right: 1px solid #000;
                    &:before {
                        content: none;
                    }
                    &:hover {
                        border-bottom: 0;
                        color: #64c5e3;
                    }
                }
                &:last-child {
                    a {
                        padding: 3px 0 3px 15px;
                        border: 0;
                    }
                }
            }
        }
    }
    &--header {
        text-align: center;
    }
    .services-wrapper {
        .text-bottom {
            padding: 0 15px;
        }
    }
    .os {
        margin-bottom: 30px;
        @media (min-width: 768px) {
            margin-bottom: 70px;
        }
        &.page-title {
            margin-bottom: 0;
            @media (min-width: 768px) {
                margin-bottom: 40px;
            }
        }
        &.categories {
            margin-bottom: 20px;
            @media (min-width: 768px) {
                margin-bottom: 60px;
            }
        }
    }
    .service-block {
        margin-bottom: 30px;
        @media (min-width: 768px) {
            margin-bottom: 70px;
        }
    }
}