.services-single {
    .partnerships {
        padding: 0;
        li {
            list-style-type: none;
            display: inline-block;
            vertical-align: middle;
            max-width: 150px;
            padding: 10px 10px 0 10px;
            img {
                max-height: 72px;
            }
        }
    }
}