.sitemap {
    .main {
        .sitemap-menu{
            @media(max-width:375px) {
                font-size:12px;
            }
            a {
                &:hover {
                    border-color:transparent;
                }
            }
            .hs-menu-wrapper.hs-menu-flow-vertical > ul li.hs-item-has-children ul.hs-menu-children-wrapper {
                position:relative;
                left:30px;
                @media (max-width:425px) {
                    left:15px;
                }
            }
            .hs-menu-wrapper.hs-menu-flow-vertical li a {
                display:inline-block;
            }
            @media (max-width: 568px) {
                .hs-menu-wrapper, .hs-menu-wrapper span {
                    display:inline;
                }
            }
        }
    }  
}


