.solutions {
    .os.solutions {
        // margin-left: -15px;
        // margin-right: -15px;
        overflow: hidden;
        a {
            display: block;
            background-color: none;
            color: #c6c7c8;
            border-bottom: none;
            &:before {
                display: none;
            }
            &:hover {
                @media (max-width: 991px) {
                    color:#64c5e3;
                }
            }
        }
        i {
            font-size: 40px;
            position: absolute;
            top: 15px;
            left: 15px;
        }
        .line {
            display: none;
        }
        @media (max-width: 991px) {
            i {
                position: relative;
                top: 0;
                left: 0;
                float: left;
                margin-right: 10px;
            }
        }
        @media(min-width: 768px) {
            a {
                text-align: center;
                &:hover {
                    .line {
                        border-bottom-color: #c6c7c8;
                    }
                }
            }
            .padding {
                padding: 20px;
            }
            .line {
                display: block;
                margin-top: 15px;
                margin-bottom: 15px;
                border-bottom: 1px dotted transparent;
            }
            i {
                display: block;
                font-size: 120px;
                position: relative;
                top: 0;
                left: 0;
            }
        }
        .solution {
            position: relative;
            min-height: 1px;
            padding-left: 15px;
            padding-right: 15px;
            text-align: left;
            @media (max-width: 767px) {
                                padding-left: 0;
                padding-right: 0;
                a {
                    br {
                        display: none;
                    }
                }
            }
        }
        >span>div {
            float: left;
            width: 100%;
            @media (min-width: 768px) {
                float: left;
                width: 25%;
            }
            @media (max-width: 767px) {
                &:not(:first-of-type) {
                    margin-top: 15px;
                }
            }
        }
    }
}