.sub-preference {
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0px;
        &>div {
            width: 50%;
            @media (max-width: 1024px) {
                width: 100%;
            }
        }
        .left {
            @media (max-width: 1024px) {
                .item {
                    &:last-child {
                        margin-bottom: 0px!important;
                    }
                }
            }
        }
    }
    .page-header {
        text-align: center;
        h1 {
            font-size: 33px;
            line-height: 48px;
        }
        h2 {
            font-size: 18px;
        }
        p {
            font-size: 16px;
            width: 80%;
            display: inline-block;
            margin: 0 auto;
            color: #000;
        }
    }

    #email-prefs-form {
        margin-bottom: 65px;
        .email-prefs {
            background-color: #f3f4f5;
            padding: 25px 15px;
            margin-top: 25px;
            .header {
                display: block;
                margin: 0px auto;
                text-align: center;
                font-size: 24px;
                line-height: 30px;
                color: #000;
            }
            .hs-button.primary {
                max-width: 375px;
                display: block;
                margin: 0 auto 30px auto;
            }
            .item {
                margin: 20px 10px;
                .item-inner {
                    padding: 0px;
                    border: none;
                    border-radius: 5px;
                    &:hover {
                        box-shadow: none;
                    }
                    &.selected {
                        background: #e0e0e0;
                    }
                    .checkbox-row {
                        .fakelabel {
                            span {
                                position: relative;
                                padding-left: 45px;
                                font-size: 16px;
                            }
                        }
                    }
                    p {
                        font-size: 14px;
                        color: #949596;
                        margin-left: 65px;
                        margin-top: -10px;
                    }
                }
            }

            .subscribe-options {
                p {
                    text-align: center;
                    label {
                        span {
                            font-size: 16px;
                            line-height: 22px;
                            margin-left: 30px;
                            &:before {
                                top: -6px;
                            }
                            &:after {
                                top: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
    .social-wrapper {
        margin: 0 auto 45px auto;
        h3 {
            text-align: center;
        }
        ul {
            text-align: center;
            padding-left: 0px;
            li {
                display: inline-block;
                a {
                    display: block;
                    &:hover {
                        border: none;
                    }
                    &:before {
                        display: none;
                    }
                    i {
                        font-size: 46px;
                        text-align: center;
                    }
                }
            }
        }
    }

&--landing {

    .page-header {
        h1 {
            margin: 0;
        }
    }

    .widget-type-form {
        margin-bottom: 50px;

        fieldset {
            margin: auto;
            max-width: 800px;

            .hs_email {

                input[type="email"] {
                    text-align: center;
                    border: none;
                    outline: none;
                    font-size: 18px;

                    &:focus {
                        border: none;
                    }
                }

                .hs-error-msgs {
                    text-align: center;
                }
            }


            .hs-richtext {
                text-align: center;
                margin: 10px auto 30px;

                p {
                    display: inline-block;
                    font-size: 16px;
                    color: #000;
                }
            }
        }

        .hs_submit {

            .actions {
                text-align: center;

                input[type="submit"] {
                    max-width: 300px;
                }
            }
        }
        // thank you message
        .hs_cos_wrapper_type_form {
            & > h3 {
                margin-top: 50px;
                text-align: center;
            }
        }
    }
}
}