.sub-confirm{
	.success{
		text-align: center;
		font-size: 20px;
		margin: 20px 0px 20px 0px!important;
		color: #00a900;
	}
	.form-wrapper{
		background: #f3f4f5;
		padding: 20px;
		margin: 30px 0px 60px 0px;
		h3{
			text-align: center;

			margin-bottom: 35px;
		}
		form{
			max-width: 875px;
			margin: 0 auto;
			input[type=submit]{
				max-width: 375px;
				display: block;
				margin: 70px auto 30px auto;
			}
		}
		.form-columns-2{
			max-width: 100%;
			& > div{
				&:first-child{
					padding-right:10px;
					@media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px){
						padding-right:0px;
					}
				}
				&:last-child{
					padding-left:10px;
					@media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px){
						padding-left:0px;
					}
				}
			}
		}
	}
}