body.thank-you-page{

	overflow-x:hidden!important;
	h2,h3,p,.icon-wrapper,.error-buttons{
		text-align: center;
	}
	
	.row-depth-1.row-number-4 {
		max-width:800px;
		margin:0 auto!important;
	}
	.download-buttons{
		text-align:center;
		margin-top:50px;
		margin-bottom:30px;

		.cta_button{
			border-radius:0px;
			font-family: 'Avenir Next W01 Light';
		    border: 1px solid #65c5e4;
		    color: #65c5e4;
		    display: inline-block;
		    font-size: 21px;
		    line-height: 50px;
		    margin: 0px;
		    min-width: 375px;
		    text-align: center;
		    -webkit-transition: 0.3s all linear;
		    -o-transition: 0.3s all linear;
		    -moz-transition: 0.3s all linear;
		    transition: 0.3s all linear;
			background-color: #65c5e4;
   			border-color: #65c5e4;
    		color: #fff;
    		margin-bottom:25px;
		}
			.cta_button:hover{
			
			    border: 1px solid #65c5e4;
    			color: #65c5e4;
    			background-color: white;
		}
		 .cta_button:hover:before{
			color:#65c5e4;
		}
	}
		.error-buttons{
		text-align:center;
	

		.cta_button{
			border-radius:0px;
			font-family: 'Avenir Next W01 Light';
		    border: 1px solid #65c5e4;
		    color: #65c5e4;
		    display: inline-block;
		    font-size: 21px;
		    line-height: 50px;
		    margin: 0px;
		    min-width: 375px;
		    text-align: center;
		    -webkit-transition: 0.3s all linear;
		    -o-transition: 0.3s all linear;
		    -moz-transition: 0.3s all linear;
		    transition: 0.3s all linear;
			background-color: white;
   			border-color: #65c5e4;
    	
		}
			.cta_button:hover{
			
			    border: 1px solid #65c5e4;
    			color: white;
    			background-color: #65c5e4;
		}
		 .cta_button:hover:before{
			color:#65c5e4;
		}
	}
	.icon-wrapper{

		margin-bottom:30px;
	}
	.header-image h1{
		padding-top:50px;
	}
	@media (max-width: 767px){
		.cta_button{
			min-width:300px!important;
		}
		.error-buttons{
			max-width:300px!important;
			margin:auto!important;
		}
		
				.landing-wrapper {
					.text-box{

						padding:10px;
					}
			}
	
	}
	@media(min-width:992px){
		.error-buttons a:first-child{
			margin-right:30px;
		}
	}
	@media(max-width:991px){
			.error-buttons a:first-child{
			margin-bottom:30px;
		}
	}

}
body.webinar-landing-page .text-box .widget-type-rich_text a{
	color:#65c5e4!important;
}