body.webinar-landing-page{
	overflow-x:hidden!important;
	 overflow-y: scroll!important;
	 margin-right:0px!important;

	 .share{
	 	margin-top:30px;
	 }
	h3{
		font-family:'AvenirNextLTW01', sans-serif;
		font-weight: 300;
	}

 .text-box .widget-type-rich_text a{

	 	color:#f99d3c;
	 }
	  .text-box .widget-type-rich_text a:hover{

	 		border:none;
	 		color:#64C5E3;

	 }
	 .text-box .widget-type-rich_text a::before{
		display:none;
	  }
	.header-image{
		display:block;
		padding-top:100px;
	}
	
	.form1 .actions{
		margin-top:100px;
	}
	.icon-wrapper{

		margin-top:0px!important;
	}
	.hs-form-required{
		
		display:none;
	}
	.clock{
		    padding: 10px;
    width: 100%;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: -15px;
    font-size: 70px;
	

	}
	.clock span{
		margin-left:12.5px;
		margin-right:12.5px;
	}
	.clock span strong{
		    display: block;
    font-size: 33px;
    font-weight: 500;
    padding: 0;
    margin: 0;
  	line-height: 45px;
    width: 100%;
      text-align: center;
      background-color:white;
      color:black;
      padding-left:20px;
      padding-right:20px;
      border:1px solid #949596;
       font-family: 'Avenir Next LT W01', sans-serif;


	 }
	.clock span small{
	 	    display: block;
    font-size: 12px;
    text-align: center;
    font-weight: 200;
    padding: 0;
    margin: 0;
    margin-top: 15px;
	 }
	 footer{
		padding-top:0px;
		text-align:center;
		
		.lang-social{
		    margin-top: 25px!important;
    		margin-bottom: 20px!important;
		}
	}
	 @media(max-width:768px){
	 		.clock span{
		margin-left:5px;
		margin-right:5px;
	}
	.clock span strong{
	 padding-left:10px;
      padding-right:10px;
	}

	 }
}