.blog-stories {
    a {
        &.cta_button {
            vertical-align: baseline;
            box-sizing: border-box !important;
        }
    }
    h1,
    h3,
    .h1,
    .h3 {
        font-family: 'Avenir Next W01 Light';
    }
    h1,
    .h1 {
        text-align: center;
        font-family: 'AvenirNextLTW01-UltraLi';
        margin: 10px 0 0;
    }
    h3,
    .h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 26px;
        &.no-post {
            margin-top: 50px;
            text-align: center;
        }
    }
    .events-line {
        margin:80px 0;
    }
     .events-wrapper {
            display:flex;
            flex-wrap:wrap;
            justify-content: space-around;
            > div {
                width:33%;
                @media(max-width: 992px) {
                    width:100%;
                    margin-bottom:30px;
                }
            }
            .event-box {
                h3,
                .h3 {
                    margin-top:10px;
                    font-family: 'AvenirNextLTW01-UltraLi', sans-serif;
                }
            }
        }
    .blog-content-wrapper {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .body-container-wrapper {
        a {
            &:before {
                content: none;
            }
            &:hover {
                border-color: transparent;
            }
        }
    }
    .input-wrapper {
        position: relative;
        margin-top: 15px;
        margin-bottom: 25px;
        input {
            padding: 12px 20px;
            border: 1px solid #949596;
            font-size: 14px;
            line-height: 16px;
            -webkit-appearance: none;
            margin: 0;
            &:focus {
                outline: none;
            }
        }
        @media (max-width: 767px) {
            margin: 15px 0;
        }
        #search-btn {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 42px;
            border-left: 1px solid #949596;
            background-image: url('https://cdn2.hubspot.net/hubfs/3403139/images/search-ico.png');
            background-repeat: no-repeat;
            background-position: center;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .filter-wrapper {
        display: flex;
        border: 1px solid #949596;
        font-family: 'Avenir Next W01 Light';
        .filter-desc,
        .filter-categories {
            padding: 8px 20px;
        }
        .filter-categories {
            font-family: 'Avenir Next W01 Light';
            display: flex;
            align-items: center;
            color: #949596;
            font-size: 14px;
            line-height: 16px;
            border-left: 1px solid #949596;
            a {
                &:not(:first-of-type) {
                    margin-left: 60px;
                }
                &.topic-link {
                    color: #949596;
                    font-size: 14px;
                    line-height: 16px;
                    &.active,
                    &:hover {
                        color: #f99d3c;
                    }
                    &:hover {
                        border-bottom: 1px solid transparent;
                    }
                }
            }
        }
        @media (max-width: 991px) {
            .filter-desc,
            .filter-categories {
                font-size: 12px;
                a.topic-link {
                    font-size: 12px;
                }
                a {
                    &:not(:first-of-type) {
                        margin-left: 20px;
                    }
                }
            }
        }
        @media (max-width: 767px) {
            flex-direction: column;
            .filter-desc {
                text-align: center;
            }
            .filter-categories {
                border-left: 0px;
                border-top: 1px solid #949596;
                justify-content: space-between;
            }
        }
    }
    .btn {
        &.btn-blog {
            min-width: 0;
            max-width: 100%;
            width: 100%;
            padding: 8px 20px;
            font-size: 16px;
            line-height: 20px;
            border-width: 2px;
            &:hover {
                border-style: solid;
            }
        }
    }
    @media (min-width: 768px) {
        .blog-middle {
            position: relative;
            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 25px;
                height: 100%;
                width: 1px;
            }
            &:before {
                left: -10px;
                border-left: 1px dotted $line-color;
            }
            &:after {
                right: -15px;
                border-right: 1px dotted $line-color;
                @media (max-width: 992px) {
                    right: -10px;
                }
            }
            &.no-left {
                &:before {
                    content: none;
                }
            }
        }
    }
    .blog-sidebar {
        margin-top: 14px; // min-width: 20px;
        .sidebar--item {
            padding-bottom: 25px;
            margin-bottom: 30px;
            border-bottom: 1px dotted $line-color;
            &.social-media {
                ul {
                    padding: 0;
                    list-style: none;
                    display: flex;
                    margin-bottom: 0;
                    li {
                        margin-right: 5px;
                        a {
                            i {
                                font-size: 28px;
                            }
                            &:hover {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
            &.twitter-box {
                .tweets-wrapper {
                    a {
                        &:hover {
                            border-color: transparent;
                        }
                    }
                    position: relative;
                    @media (min-width: 768px) {
                        min-height: 300px;
                    }
                    .loader {
                        z-index: 99;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: url('https://cdn2.hubspot.net/hubfs/3403139/images/Dual%20Ring.svg') center no-repeat #fff;
                    }
                }
                .tweet-content {
                    // &:not(:last-of-type) {
                    margin-bottom: 10px;
                    border-bottom: 1px dotted $line-color; // }
                }
                .tweet-header {
                    display: flex;
                    position: relative;
                    .tweet-author {
                        padding-top: 10px;
                        margin-left: 10px;
                        .tweet-name,
                        .tweet-name-short {
                            margin-bottom: 5px;
                        }
                        .tweet-name {
                            font-size: 12px;
                            line-height: 13px;
                            color: #000000;
                            font-weight: 600;
                        }
                        .tweet-name-short {
                            font-size: 10px;
                            line-height: 13px;
                            color: #959697;
                        }
                    }
                    .icon-follow {
                        position: absolute;
                        right: 0;
                        top: 10px;
                    }
                    @media (min-width: 768px) and (max-width: 991px) {
                        margin-top: 20px;
                        .icon-follow {
                            top: -20px;
                        }
                    }
                }
                .tweet-post {
                    margin-top: 5px;
                    p {
                        font-size: 12px;
                        line-height: 16px;
                        color: #000;
                        margin-bottom: 5px;
                        a {
                            color: #f99d3c;
                        }
                    }
                }
                .tweet-date {
                    p {
                        font-size: 10px;
                        line-height: 16px;
                        color: #959697;
                    }
                }
                iframe,
                .timeline-Header,
                .timeline-Body,
                .timeline-Footer,
                .twitter-timeline {
                    display: none !important;
                }
            }
            &.sub {
                .subscribe-module {
                    display: none;
                    position: fixed;
                    background-color:rgba(0,0,0,0.7);
                    left: 0;
                    top: 0;
                    width: 100%;
                    min-height: 100%;
                    z-index: 9999;
                    .exit-btn {
                        position: absolute;
                        cursor: pointer;
                        height: auto;
                        width: auto;
                        left: auto;
                        right: 0;
                        bottom: auto;
                        top: 0;
                        padding: 8px;
                        color: #fff;
                        font-size: 12px;
                        line-height: 14px;
                        border: 1px none #fff;
                        background-color: #65c5e4;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    .form-wrapper {
                        border-radius: 6px;
                        padding:60px 40px;
                        background-color:white;
                        overflow:auto;
                        position: absolute;
                        text-align: left;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 85%;
                        width: 550px;
                        h3 {
                            color: $black;
                            font-family: 'AvenirNextLTW01-UltraLi';
                            font-size: 28px;
                        }
                        form {
                            max-width: 550px;
                            color: #fff;
                            margin: 0 auto;
                            input[type=submit] {
                                background-color: $blue;
                                color:white;
                                &:hover {
                                    background-color:white;
                                    color: $blue;
                                }
                            }
                        }
                        .form-title {
                            text-align:center;
                            margin-bottom:20px;
                        }
                        .hs-form-radio span {
                            color: $black !important;
                        }
                    }
                }
            }
        @media (max-width: 768px) {
            &.sub {         
                    .subscribe-module {
                        -webkit-overflow-scrolling: touch;
                        overflow:scroll;
                        .exit-btn {
                            @media (min-width: 600px) {
                                top: 50px;
                                right: 50px;
                            }
                        }
                        .form-wrapper {
                            width: 85%;
                            margin:20px 0;
                            top: 50px;
                            left: 50%;
                            transform: translate(-50%, 0);
                            width: 85%;
                            padding:20px 15px;
                        }
                    }
                }    
            }


        }
        >.row-fluid-wrapper {
            &:last-of-type {
                .sidebar--item {
                    border-bottom: 0px;
                }
            }
        }
        .popular {
            .posts-wrapper {
                a {
                    .post-single {
                        height: 200px;
                        position: relative;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        .mask {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, .4);
                            transition: .3s all linear;
                        }
                        .content-wrapper {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            padding: 0 20px;
                            text-align: center;
                            width: 100%;
                            p {
                                font-family: 'Avenir Next LT W01 Bold';
                                font-size: 24px;
                                line-height: 26px;
                                color: #fff;
                                @media (max-width: 991px) {
                                    font-size: 18px;
                                    line-height: 20px;
                                }
                            }
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                    &:not(:first-of-type) {
                        .post-single {
                            margin-top: 25px;
                        }
                    }
                }
                @media (min-width: 501px) and (max-width: 767px) {
                    display: flex;
                    a {
                        width: 50%;
                        .post-single {
                            margin-top: 0 !important;
                            margin-bottom: 0 !important;
                        }
                        &:first-of-type {
                            margin-right: 10px;
                        }
                        &:last-of-type {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
    .blog-section {
        hr {
            margin-top: 25px;
            margin-bottom: 25px;
        }
        .post-listing,
        .post-featured {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            .post-item {
                width: 31.3333333%;
                margin: 5px 1.5% 20px;
                background-color: #f3f4f5;
                position: relative;
                @media (min-width: 992px) {
                    max-width: 275px;
                    &:first-of-type {
                        margin-left: 0;
                    }
                    &:nth-child(3n+4) {
                        margin-left: 0;
                    }
                    &:nth-child(3n+3) {
                        margin-right: 0;
                    }
                }
                @media (min-width: 501px) and (max-width: 991px) {
                    width: 49%;
                    &:nth-child(1n+1) {
                        margin-right: 1%;
                        margin-left: 0;
                    }
                    &:nth-child(2n+2) {
                        margin-left: 1%;
                        margin-right: 0;
                    }
                }
                @media (max-width: 500px) {
                    width: auto;
                    margin-right: 0;
                    margin-left: 0;
                }
                #hubspot-topic_data {
                    margin-bottom: 10px;
                    min-height: 42px;
                    .topic-link {
                        font-family: 'Avenir Next W01 Light';
                        text-transform: uppercase;
                        color: #959697;
                        font-size: 12px;
                        line-height: 20px;
                        font-weight: 600;
                        transition: .3s color;
                        margin-right: 5px;
                        &:hover {
                            cursor: default;
                        }
                    }
                }
                .hs-featured-image-wrapper {
                    height: 157px;
                    width: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .post-body {
                    padding: 10px;
                    padding-bottom: 45px;
                    a {
                        &.more-link {
                            position: absolute;
                            bottom: 10px;
                            right: 10px;
                            font-size: 14px;
                            line-height: 16px;
                            display: inline-block;
                            padding: 4px 11px 2px;
                            background-color: #FFF;
                            border: 1px solid #64C5E3;
                            transition: 0.3s all linear;
                            &:hover {
                                background-color: #65c5e4;
                                border-color: #65c5e4;
                                color: #fff;
                            }
                        }
                    }
                    h2,
                    .h2 {
                        font-size: 22px;
                        line-height: 28px;
                        font-family: 'Avenir Next W01 Light';
                        font-weight: 600;
                        margin: 0 0 15px;
                        @media (min-width: 501px) {
                            min-height: 84px;
                        }
                    }
                }
            }
        }
    }
    .blog-pagination {
        text-align: center;
        ul {
            list-style-type: none;
            display: flex;
            padding: 25px 0;
            ;
            margin: 0;
            align-items: center;
            justify-content: center;
            li {
                &:not(:last-of-type) {
                    margin-right: 5px;
                }
                &.middle {
                    color: #65c5e4;
                }
            }
        }
    }
    &.blog-stories-single {
        a {
            &.cta_button {
                vertical-align: baseline;
                box-sizing: border-box !important;
            }
        }
        .blog-sidebar {
            @media (min-width: 768px) {
                position: relative;
                margin-top: 0;
                &:before {
                    content: '';
                    position: absolute;
                    top: 25px;
                    height: 100%;
                    width: 1px;
                }
                &:before {
                    top: 0;
                    left: -10px;
                    border-left: 1px dotted $line-color;
                }
            }
            .sidebar--item {
                &.share {
                    ul {
                        li {
                            a {
                                color: #949596;
                                display: flex;
                                justify-content: center;
                                align-content: center;
                                width: 25px;
                                height: 25px;
                                background-color: #949596;
                                border-radius: 4px;
                                i {
                                    font-size: 18px;
                                    color: #fff;
                                    &[class^="fa fa-"] {
                                        position: relative;
                                        &:before {
                                            position: absolute;
                                            top: 3px;
                                            left: 50%;
                                            transform: translateX(-50%);
                                        }
                                    }
                                    &.fa-envelope-open-o {
                                        &:before {
                                            top: 2px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .section.post-body {
            color: #000;
            h3,
            .h3 {
                font-size: 20px;
                line-height: 26px;
            }
            p {
                font-size: 14px;
                line-height: 18px;
                &.question {
                    margin-bottom: 0;
                }
            }
            > span {
                display:block;
                font-size: 14px;
                line-height: 18px;
                margin-bottom:15px;
            }
            img {
                margin: 40px 0;
            }
            blockquote {
                font-size: 36px;
                line-height: 48px;
                margin: 30px 0;
                font-family: 'Avenir Next LT W01 Bold';
            }
            a {
                max-width:100%;
                font-size: 21px;
                line-height: 21px;
                    &:before {
                        content: '»';
                    }
                }
            
            @media (min-width: 768px) {
                h3,
                .h3 {
                    margin-bottom: 40px;
                }
                blockquote {
                    margin: 50px 0;
                }
            }
        }
        .blog-sidebar-left {
            margin-bottom: 30px;
            @media (min-width: 768px) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-bottom: 50px;
            }
            .company-desc,
            .post-authors {
                color: #949596;
                @media (min-width: 768px) {
                    margin-bottom: 150px;
                }
                p {
                    font-size: 12px;
                    line-height: 16px;
                }
                h4,
                .h4 {
                    text-transform: uppercase;
                    font-size: 14px;
                    line-height: 18px;
                    color: #949596;
                }
            }
            .post-authors {
                p {
                    font-size: 13px;
                    margin-bottom: 0;
                }
            }
        }
        .contact-us-bottom {
            text-align: center;
            max-width: 775px;
            margin: 0 auto;
            float: none;
            border-bottom: 1px dotted $line-color;
            a {
                max-width: 370px;
                &.big {
                    font-size: 21px;
                    line-height: 21px;
                    &:before {
                        content: '»';
                    }
                }
            }
            ul {
                padding: 0 0 30px;
                list-style: none;
                display: flex;
                justify-content: center;
                margin-bottom: 0;
                @media (min-width: 768px) {
                    padding: 0 0 75px;
                }
                li {
                    margin-right: 5px;
                    &:last-of-type {
                        margin-right: 0;
                    }
                    a {
                        i {
                            font-size: 28px;
                        }
                        &:hover {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
        .related-articles {
            padding: 30px 0;
            @media (min-width: 768px) {
                padding: 50px 0;
            }
            h2,
            .h2 {
                text-align: center;
            }
            .post-listing {
                display: flex;
                flex-wrap: wrap;
                align-items: stretch;
                justify-content: center;
                .post-item {
                    width: 23%;
                    margin: 25px 1.5% 0;
                    background-color: #f3f4f5;
                    position: relative;
                    @media (min-width: 992px) {
                        max-width: 275px;
                        margin: 0 1%;
                        &:first-of-type {
                            margin-left: 0;
                        }
                        &:last-of-type {
                            margin-right: 0;
                        }
                    }
                    @media (min-width: 501px) and (max-width: 991px) {
                        width: 49%;
                        &:nth-child(1n+1) {
                            margin-right: 1%;
                            margin-left: 0;
                        }
                        &:nth-child(2n+2) {
                            margin-left: 1%;
                            margin-right: 0;
                        }
                    }
                    @media (max-width: 500px) {
                        width: auto;
                        margin-right: 0;
                        margin-left: 0;
                    }
                    #hubspot-topic_data {
                        margin-bottom: 10px;
                        min-height: 42px;
                        .topic-link {
                            font-family: 'Avenir Next W01 Light';
                            text-transform: uppercase;
                            color: #959697;
                            font-size: 12px;
                            line-height: 20px;
                            font-weight: 600;
                            transition: .3s color;
                            &:hover {
                                cursor: default;
                            }
                        }
                    }
                    .hs-featured-image-wrapper {
                        height: 157px;
                        width: 100%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    .post-body {
                        padding: 10px;
                        padding-bottom: 45px;
                        a {
                            &.more-link {
                                position: absolute;
                                bottom: 10px;
                                right: 10px;
                                font-size: 14px;
                                line-height: 16px;
                                display: inline-block;
                                padding: 4px 11px 2px;
                                background-color: #FFF;
                                border: 1px solid #64C5E3;
                                transition: 0.3s all linear;
                                &:hover {
                                    background-color: #65c5e4;
                                    border-color: #65c5e4;
                                    color: #fff;
                                }
                            }
                        }
                        h2,
                        .h2 {
                            font-size: 22px;
                            line-height: 28px;
                            font-family: 'Avenir Next W01 Light';
                            font-weight: 600;
                            text-align: left;
                            margin: 0 0 15px;
                            @media (min-width: 501px) {
                                min-height: 84px;
                            }
                        }
                    }
                }
            }
        }
    }
    &.about {
        .blog-middle {
            &:after {
                border-color: transparent;
            }
        }
        .blog-sidebar-short {
            .blog-description {
                h3,
                .h3 {
                    line-height: 30px;
                }
                p {
                    font-size: 16px;
                    line-height: 22px;
                }
                padding: 15px 10px;
                margin: 25px 0;
                background-color: #f3f4f5;
            }
        }
        @media (min-width: 768px) {
            .border-right {
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    height: 100%;
                    right: -15px;
                    border-right: 1px dotted $line-color;
                    @media (max-width: 992px) {
                        right: -10px;
                    }
                }
            }
        }
        .blog-section {
            .post-listing {
                .post-item {
                    width: 100%;
                    max-width: 100%;
                    margin: 0 0 30px;
                    background-color: #fff;
                    &:first-of-type {
                        margin-top: 25px;
                    }
                    h2,
                    .h2 {
                        max-width: 420px;
                        min-height: 0;
                    }
                    p {
                        &.date {
                            font-size: 12px;
                            line-height: 20px;
                            text-transform: uppercase;
                            font-family: 'Avenir Next W01 Light';
                            font-weight: 600;
                            margin-bottom: 5px;
                        }
                    }
                    #hubspot-topic_data {
                        margin-bottom: 5px;
                        min-height: 0;
                        a {
                            &.topic-link {
                                display: none;
                            }
                        }
                    }
                    .post-body {
                        padding: 0 0 30px;
                        a {
                            &.more-link {
                                left: 0;
                                right: auto;
                                border: 0px;
                                bottom: 5px;
                                padding: 0;
                                &:before {
                                    content: '»';
                                }
                                &:hover {
                                    color: #65c5e4;
                                    background-color: #fff;
                                }
                            }
                        }
                        .post-item-content {
                            font-size: 14px;
                            line-height: 18px;
                            p {
                                font-size: 14px;
                                line-height: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
    &.about-single {
        .quote-top {
            h1,
            .h1 {
                padding: 50px 0;
                margin: 0;
                text-align: left;
                font-size: 36px;
                line-height: 46px;
                font-family: 'Avenir Next LT W01 Bold';
            }
        }
    }
    .author-details {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 380px;
        margin: 50px auto 20px;
        .author-image {
            width: 80px;
            height: 80px;
            img {
                border-radius: 50%;
            }
        }
        .author-desc {
            padding-left: 25px;
            width: calc(100% - 80px);
            p {
                font-size: 12px;
                line-height: 16px;
                margin-bottom: 0;
            }
        }
    }
    .magazines-slider__section {
        padding-bottom: 50px;
        .magazine--single {
            margin: 0 auto;
            max-width: 275px;
            padding: 0 10px;
        }
        .slick-dots {
            bottom: 0px;
            left: 0px;
            li {
                button {
                    &:before {
                        background-color: #333;
                    }
                }
            }
        }
    }
}

@media print {
    .hs-tools-menu.hs-collapsed {
        display: none !important;
    }
    .blog-stories-single.about-single {
        .header-container-wrapper,
        .footer-container-wrapper,
        .blog-sidebar,
        .blog-sidebar-left,
        .related-articles,
        .contact-us-bottom,
        .widget-type-space {
            display: none !important;
        }
        .blog-content,
        .quote-top {
            width: 100% !important;
            margin: 0 !important;
            float: none !important;
        }
    }
    .blog-stories-single {
        .header-container-wrapper,
        .footer-container-wrapper,
        .blog-sidebar,
        .related-articles,
        .contact-us-bottom,
        .hero-banner-blog .left-img {
            display: none !important;
        }
        .blog-sidebar-left {
            height: auto !important;
            float: none !important;
            margin: 0 !important;
            width: 100% !important;
            padding: 0 0 20px !important;
        }
        .blog-content {
            width: 100% !important;
            margin: 0 !important;
            float: none !important;
        }
        .hero-banner-blog {
            min-height: 0 !important;
            width: 100% !important;
            margin: 0 !important;
            float: none !important;
            .content {
                width: 100% !important;
                padding: 0 0 20px !important;
                h1,
                .h1 {
                    margin: 30px 0 !important;
                }
            }
        }
    }
}
@media screen and (max-width: 500px) {
.filter-wrapper{
    .filter-categories{
        flex-flow:column;
        a{
            margin:0!important;
        }
    }
}
}