.os.contact {
    margin-left: -15px;
    margin-right: -15px;
    h2 {
        padding-left: 15px;
    }
    .text {
        float: left;
        width: 100%;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        @media (min-width: 768px) {
            width: 25%;
        }
    }
    .map {
        float: left;
        width: 100%;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        @media (min-width: 768px) {
            width: 75%;
        }
        @media (min-width: 992px) {
            width: 66.66666667%;
            margin-left: 8.33333333%;
        }
    }
    .wrapper {
        position: relative;
        padding-bottom: 75%;
        padding-top: 0;
        height: 0;
        &.small {
            padding-bottom: 30%;
        }
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}