.cta-box {
    a {
        font-size: 15px;
        display: block;
        border-bottom: none;
        color: #fff;
        background-color: #64c5e3;
        padding: 30px 20px;
        text-align: left;
        margin-bottom: 30px;
        &:before{
        	display: none;
        }
        .big {
            display: block;
            font-size: 27px;
            font-family: 'AvenirNextLTW01-UltraLi', sans-serif;
            font-weight: normal;
            margin-bottom: 15px;
            line-height: 1.1;
            strong {
                &:hover {
                    border-bottom: 1px dotted #fff;
                }
                span {
                    font-family: 'AvenirNextLTW01-UltraLi', sans-serif;
                }
            }
        }
    }
}
