.hero-banner-blog {
    display: flex;
    margin-bottom: 30px;
    .left-img {
        width: 59%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 500px;
        @media (min-width: 992px) {
            min-height: 675px;
        }
    }
    .content {
        width: 41%;
        padding: 25px;
        border-bottom: 1px solid #949596;
        .logo-wrapper {
            max-width: 100%;
            max-height: 100px;
        }
        h1,
        .h1 {
            text-align: left;
            margin: 45px 0 35px;
            font-size: 30px;
            line-height: 38px;
            font-family: 'Avenir Next LT W01 Bold';
        }
        .author {
            p {
                margin-bottom: 0px;
                font-size: 16px;
                line-height: 22px;
                &.name {
                    font-family: 'Avenir Next LT W01 Bold';
                }
                &.name,
                &.position {
                    color: #000;
                }
            }
        }
    }
    @media (min-width: 992px) {
        margin-bottom: 50px;
        .content {
            padding: 75px 50px;
            h1,
            .h1 {
                margin: 90px 0 75px;
            }
        }
    }
    @media (max-width: 767px) {
        flex-direction: column;
        .left-img {
            min-height: 500px;
        }
        .left-img,
        .content {
            width: 100%;
            padding: 20px 0;
        }
    }
    @media (max-width: 600px) {
        .left-img {
            min-height: 300px;
        }
    }
    @media (max-width: 450px) {
        .left-img {
            min-height: 200px;
        }
    }
}