.os.image-text {
    margin-left: -15px;
    margin-right: -15px;
    .image {
        float: left;
        width: 100%;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        @media (min-width: 768px) {
            width: 25%;
        }
        @media (max-width: 767px) {
            margin-bottom: 30px;
        }
        &.image-right {
            float: right;
        }
        &.hidden-xs {
            @media (max-width: 768px) {
                display:none;
            }
        }
        img {
            display: block;
            width: 100% \9;
            max-width: 100%;
            height: auto;
            &+img {
                margin-top: 30px;
            }
        }
    }
    .text {
        float: left;
        width: 100%;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        @media (min-width: 768px) {
            margin-left:8.33333333%;
            width: 66.66666667%;
            &.text-left {
                margin-right: 8.33333333%;
                margin-left:0;
            }
        }
    }
    &.image-wide {
        .image {
            float: left;
            width: 100%;
            position: relative;
            min-height: 1px;
            padding-left: 15px;
            padding-right: 15px;
            @media (min-width: 768px) {
                float:left;
                width: 33.33333333%;
            }
        }
        .text {

        }
    }
}