.service-overview {
    // padding: 0;
    margin-top: -100px;
    padding-top: 99px;
    .title {
        text-align: left;
        margin-bottom: 70px;
        font-size: 19px;
        @media (max-width: 767px) {
            margin-bottom: 30px;
        }
        p {
            width: 100%;
            margin: 0 auto;
            text-align: left;
        }
        h2,
        .h2 {
            text-align: center;
        }
    }
    .icon {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        @media (min-width: 768px) {
            float: none;
            width: 100%;
        }
        i {
            font-size: 54px;
            color: #222;
            margin-bottom: 40px;
            @media(min-width: 768px) {
                font-size:40px;
            }
            @media(min-width: 992px) {
                font-size: 40px;
            }
            .os.service-overview .icon i {
                font-size: 40px;
            }
            .os.service-overview .icon {
                margin-bottom: 40px;
            }
        }
    }
}