.service--single {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 51px;
    @media (max-width: 767px) {
        margin-bottom: 36px;
    }
}
.services-wrapper {
    padding: 0;
    >div>div>div>div>span {
        display: flex;
        flex-wrap: wrap;
        >div {
            width: 33%;
            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }
}