.os.solution-details {
    margin-left: -15px;
    margin-right: -15px;
    @media (max-width: 767px) {
        margin-left: 0;
        margin-right: 0;
    }
    .icon {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        color: #c6c7c8;
        font-size: 180px;
        @media (min-width: 768px) {
            float:left;
            width: 25%;
        }
        @media (max-width: 1199px) {
            font-size: 160px;
        }
        @media (max-width: 991px) {
            font-size: 140px;
        }
        @media (max-width: 767px) {
            display: none;
        }
    }
    i {
        position: relative;
        top: -35px;
    }
    .text {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: left;
        @media (min-width: 768px) {
            float: left;
            width: 75%;
        }
    }
    ul {
        padding-left: 17px;
        margin-bottom: 30px;
    }
    .links {
        a {
            margin-right: 25px;
            white-space: nowrap;
        }
    }
}