.subnav {
    margin-bottom: 30px;
    padding: 30px 20px;
    background-color: #eee;
    .title {
        text-transform: uppercase;
        font-size: 15px !important;
        display: block;
        margin-bottom: 10px;
        color: #222;
        margin-left: 0;
        &:hover {
            border-bottom-color: transparent;
        }
        &:before {
            display: none;
        }
        i {
            font-size: 36px;
            float: left;
            margin-right: 8px;
            margin-top: 4px;
            margin-bottom: 10px;
        }
    }
    ul {
        li {
            float: none !important;
            &.active.active-branch {
                a {
                    border-bottom-color: transparent;
                    span {
                        border-bottom: dotted 1px #000;
                    }
                }
            }
        }
    }
    a {
        color: #000;
        font-size: 14px;
        margin-left: 10px;
        position: relative;
        margin-bottom: 5px;
        display: block !important;
        padding: 0 !important;
        overflow: visible !important;
        white-space: normal !important;
        &:before {
            position: absolute;
            top: 1px;
            left: -10px;
            line-height: 15px;
            font-size: 16.8px;
        }
        &:hover,
        &.active {
            border-bottom-color: transparent;
            span {
                border-bottom: dotted 1px #000;
            }
        }
        &:focus {
            outline: none;
        }
    }
}