.cta-box-v2 {
    text-align: center;
    margin-bottom: 30px;
    padding: 18px 14px 14px;
    display: block;
    color: #64c5e3;
    background-color: #e1f4fa;
    border-radius: 12px;
    width: 100%;
    transition: 0.3s all linear;
    &:hover {
        background: #64c5e3;
        color: #fff;
        a {
            color: #fff;

        }
    }
    .big {
        font-family: 'AvenirNextLTW01-UltraLi', sans-serif;
        font-weight: normal;
        font-size: 27px;
        display: block;
        margin-bottom: 15px;
        a {
        	transition: 0.3s all linear;
        	 border-bottom: 1px dotted transparent;
            &:before {
                display: none;
            }
            &:hover{
            	 border-bottom: 1px dotted #fff;
            }
        }
        i {
            padding-left: 5px;
        }
    }
}
