    .latest-posts-wrapper > span {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }
        & > div {
            width: 33.33%;
            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }
    
    .custom-blog-post {
        max-width: 375px;
        background-color: #f3f4f5;
        margin-right: 20px;
        @media (max-width: 767px) {
            margin-right: 0px;
            margin-bottom: 20px;
            max-width: 85%;
            margin: 0px auto 20px auto;
        }
        .thumb {
            width: 100%;
            height: 225px;
            background-size: cover;
            background-position: center center;
        }
        .content {
            padding: 20px;
            .info {
                margin-bottom: 30px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                img {
                    display: block;
                }
                .topic {
                    color: #f99d3c;
                    font-size: 18px;
                    padding: 15px 0px;
                }
            }
            h3
            .h3 {
                font-size: 24px;
                line-height: 28px;
                color: #000;
                font-family: 'Avenir Next W01 Light';
                font-weight: 900;
            }
            p {
                font-size: 16px;
                color: #000;
                margin-bottom: 30px;
            }
            .read-more {
                text-align: right;
                a {
                    color: #66c5e4;
                    border: 1px solid #66c5e4;
                    background-color: #fff;
                    padding: 5px 25px;
                    display: inline-block;
                    transition: 0.3s all linear;
                    &:before {
                        display: none;
                    }
                    &:focus {
                        outline: none;
                    }
                    &:hover {
                        color: #fff;
                        background-color: #66c5e4;
                    }
                }
            }
        }
    }
