.event-box{
    background-color: #f8f8f8;
    height: 100%;
    margin: 0 15px;
    padding: 20px;
    min-height:500px;
    .content {
        h3,
        .h3 {
            min-height: 64px;
        }
    	p{
    		margin-bottom: 15px;
    		&.event-category{
    			margin-bottom: 0px;
    		}
    	}
        .description {
            min-height: 150px;
        }
        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin-bottom: 30px;
        }
        .date {
            margin: 0px;
            color: #000;
        }
    }
}
  .event-box{
        margin-bottom:20px!important;
    }
@media(min-width:1200px){
        .blog-stories .events-wrapper > div{
            width:33%;
            display:inline-block;
        }
}
@media(min-width:994px){
    .blog-stories .events-wrapper > div{

            display:inline-block;
            width:32%;

    }

}