 .subscribe-module {
    display: none;
    position: fixed;
    background-color:rgba(0,0,0,0.7);
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    z-index: 9999;
    .exit-btn {
        position: absolute;
        cursor: pointer;
        height: auto;
        width: auto;
        left: auto;
        right: 0;
        bottom: auto;
        top: 0;
        padding: 8px;
        color: #fff;
        font-size: 12px;
        line-height: 14px;
        border: 1px none #fff;
        background-color: #65c5e4;
        &:hover {
            cursor: pointer;
        }
    }
    .form-wrapper {
        border-radius: 6px;
        padding:60px 40px;
        background-color:white;
        overflow:auto;
        position: absolute;
        text-align: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
        width: 550px;
        h3,
        .h3 {
            color: $black;
            font-family: 'AvenirNextLTW01-UltraLi';
            font-size: 28px;
        }
        form {
            max-width: 550px;
            color: #fff;
            margin: 0 auto;
            input[type=submit] {
                background-color: $blue;
                color:white;
                &:hover {
                    background-color:white;
                    color: $blue;
                }
            }
        }
        a {
            &:before {
                content: "";
            }
        }
        .form-title {
            text-align:center;
            margin-bottom:20px;
        }
        .hs-form-radio span {
            color: $black !important;
        }
    }
}

@media (max-width: 768px) {
    .subscribe-module {
        -webkit-overflow-scrolling: touch;
        overflow:scroll;
        .exit-btn {
            @media (min-width: 600px) {
                top: 50px;
                right: 50px;
            }
        }
        .form-wrapper {
            width: 85%;
            margin:20px 0;
            top: 50px;
            left: 50%;
            transform: translate(-50%, 0);
            width: 85%;
            padding:20px 15px;
        }
    }
}    
