 .service {
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    border-bottom: none;
    @media (max-width: 767px) {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 25px;
        }
    .content{
        // width: 100%;
        @media (max-width: 767px) {
        margin-left: 15px;
    }
    }
    &:hover {
        border-bottom: none;
        .line {
            border-bottom-color: #64c5e3;
        }
    }
    &:before {
        display: none;
    }
    .line {
        display: block;
        border-bottom: 1px dotted transparent;
        margin: 15px;
         @media (max-width: 767px) {
            display: none;
        }
    }
    .padding {
        padding: 30px 20px;
    }
    i {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        font-size: 72px;
         @media (max-width: 767px) {
             font-size: 40px;
        }
    }
    br{
         @media (max-width: 767px) {
            display: none;
        }
    }
}

