.image-box-square {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    background-size: cover;
    background-position: center center;
    text-align: center;
    z-index: 1;
    @media (max-width: 767px) {
        margin-bottom: 20px;
    }
    &:after {
        content: '';
        background-color: rgba(100, 197, 227, 0.0);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.3s all linear;
        z-index: 2;
    }
    &:hover {
        &:after {
            background-color: rgba(100, 197, 227, 0.7);
        }
    }
    a {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        z-index: 4;
        &:before{
            display: none;
        }
        h5,
        .h5 {
            position: absolute;
            z-index: 3;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0px;
            font-size: 33px;
            line-height: 44px;
            color: #fff;
            font-family: 'Avenir Next W01 Light';
            width: 100%;
            padding: 10px;
            @media (max-width: 1024px) {
                font-size: 23px;
                line-height: 34px;
            }
            @media (max-width: 767px) {
                font-size: 33px;
                line-height: 44px;
            }
            @media (max-width: 480px) {
                font-size: 23px;
                line-height: 34px;
            }
        }
    }
}



