.simple-single-event {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 22.5px;
    @media (max-width: 767px) {
        margin-bottom: 15px;
        border-bottom: 1px solid #f8f8f8;
    }
    .date {
        width: 20%;
    }
    .title {
        width: 45%;
    }
    .place {
        width: 25%;
    }
    .link {
        width: 10%;
    }
    span {
        display: inline-block;
        padding: 5px 0px 5px 0px;
        @media (max-width: 767px) {
            width: 50%!important;
            margin-bottom: 10px;
        }
        @media (max-width: 480px) {
            width: 100%!important;
            padding: 0px;
            margin-bottom: 5px;
        }
    }
    &.event-end {
        color: #c5c5c5;
        .link {
            a {
            	display: none;
            }
        }
    }
}
