// fix for sticky nav (only 1st slide has to be visible before slick initialization)
.slide-content-wrapper {
    & > .hs_cos_wrapper {
        & > .hs_cos_wrapper {
           & + .hs_cos_wrapper {
            display: none;
           }
        }
    }

}

.single-silde {
    width: 100%;
    min-height: 700px;
    background-size: cover;
    background-position: center center;
    position: relative;
    display: flex;
    color: #fff;
    .content {
        position: absolute;
        height: 100%;
        width: 100%;
        // background-color: red;
        z-index: 20;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media (max-width: 767px) {
            display: flex;
            align-items: flex-end;
            padding: 0px;
        }
        .slide-logo {
            display: block;
            position: relative;
            margin-top: 30px;
            margin-left: 30px;
            z-index: 1;
        }

        .box {
            position: absolute;
            bottom: 50px;
            background-color: rgba(0, 0, 0, .7);
            max-width: 650px;
            padding: 20px 20px 40px 20px;
            text-align: left;
            z-index: 100;
            @media (max-width: 767px) {
                position: static;
                max-width: 100%;
                bottom: 50px;
            }
            h2,
            .h2 {
                font-family: 'Avenir Next W01 Light', sans-serif;
                margin-bottom: 0;
                color: #fff;
            }
            h3,
            .h3 {
                font-family: 'Avenir Next LT W01 Bold', sans-serif;
                font-size: 33px;
                line-height: 43px;
                color: #fff;
            }
            p {
                font-size: 17px;
            }
            a {
                font-size: 22px;
                line-height: 28px;
                margin-right: 20px;
            }
            &.left {
                left: 30px;
            }
            &.right {
                right: 30px;
            }
            @media (max-width: 450px){ 
                h2,
                .h2 {
                    font-size: 20px;
                    line-height: 26px;
                }
                h3,
                .h3 {
                    font-size: 26px;
                    line-height: 32px;
                }
                p {
                    font-size: 14px;
                    line-height: 18px;
                }
                a {
                    font-size: 18px;
                    line-height: 24px;
                }
                img {
                    margin: 10px 0;
                }
            }
        }
    }
}

.slick-dots {
    bottom: -5px;
    li {
        width: 10px;
        height: 10px;
        button {
            padding: 0px;
            width: 5px;
            height: 5px;
            &:before {
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                background-color: #fff;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                opacity: 0.3;
                transform: translate(-50%, -50%);
                opacity: 0.3;
            }
        }
    }
    li.slick-active {
        button {
            &:before {
                opacity: 1;
            }
        }
    }
}
